[2017-11-23 00:19] inoas commented on #5392
I don't see it. Please follow the CoC and do not try to shut up people by disregarding issues just because you don't see or share the point.

As I said, I do not have any personal issue with adding a F(L)OSS license to cakephp/docs at all, I am just saying that if you do this then there can be liabilities and for sure not by me. And regarding licenses - changing the one of cakephp/app didn't happe

[2017-11-23 09:19] ArmenGabrielyan16 commented on #5393
This has been addressed in PR #5397 and now can be closed.

[2017-11-23 09:19] #5393 closed

[2017-11-23 09:24] ArmenGabrielyan16 commented on #5392
So are we going to add a License?

[2017-11-23 09:28] dereuromark commented on #5392
Feel free to open a PR.

@inoas Please stay civil. You are a bit too aggressive in your engagement in issues sometimes that do not necessarily need that much of your attention.
The file does not have to be present for the very clear sign of MIT present to make this an MIT issue. So adding the file itself is - from a legal perspective - just more clarification.
One cannot argue anything else, and n

[2017-11-23 09:29] dereuromark commented on #5392
Also the link should be changed of course so the file linked can be found again :)
That is sure sth that can also be  PR (rather than many words of aggressive challenge of the current license).

[2017-11-23 11:21] inoas commented on #5392
Again @dereuromark why in OS projects do you try to shut out people? "that do not necessarily need that much of your attention" Please be inclusive and follow the CoC.

Then if the file once existed it is troubling, but I cannot find the file in the repo. Can you show me where it exists/existed? Can you legally back up your claim that just "naming a license" without actually supplying the license

[2017-11-23 11:26] dereuromark commented on #5392
Can you please just let the people responsible for the repo be responsible for the repo?
I am sure you do have other things to wry about than what we need to do legally (especially since you are not an expert in that field trying to aggressivly put doubts where they are misplaced).

You voiced your concern, this is noted and will be taken into consideration. Everything else you did afterwards was

[2017-11-23 11:28] dereuromark commented on #5392
PR now open.

[2017-11-23 11:28] #5392 closed

[2017-11-23 15:24] ArmenGabrielyan16 opened #5401 "Error in Subqueries documentation"
**Issue Description**

There is a mistake in [Subqueries](https://book.cakephp.org/3.0/en/orm/query-builder.html#subqueries) documentation. In the example, the subquery `$matchingComment` returns more than 1 row and is used in `where` condition like this `['id' => $matchingComment]`. The code returns SQLSTATE[21000]: Cardinality violation error.
However, if we change the condition to `['id IN' =>

[2017-11-23 15:47] markstory commented on #5401
Closing as a pull request is open.

[2017-11-23 15:47] #5401 closed

[2017-11-23 22:00] JaimeObregon commented on #5375
For any future reader facing the same issue: it actually wasn't as simple as to set English as the preferred language in Chrome settings. Google still returned the docs in Spanish, even after a browser restart.

Instead I tried to change Google Search settings, but oddly enough it does not allow to deselect your first language, be that Spanish, English or other.

The only solution I have found, be

[2017-11-24 09:48] ArmenGabrielyan16 opened #5403 "Add Code of Conduct"
**Issue Description**

I think we need it now.

---

**Do you want to address this issue?**
YES

[2017-11-24 14:54] markstory commented on #5403
We should link to [cakephp/code-of-conduct](https://github.com/cakephp/code-of-conduct)

[2017-11-24 14:58] ArmenGabrielyan16 commented on #5403
@markstory Thanks. I will add the link now.

[2017-11-24 19:52] ArmenGabrielyan16 opened #5411 "Add Contributing Guidelines"
**Issue Description**

I would like to add CONTRIBUTING file. There is **Contributing** section in README, but there is no separate CONTRIBUTING. Do we need to extend the project's Contributing Guidelines or just to link to current Contributing?

---

**Do you want to address this issue?**
Yes

[2017-11-25 00:20] #5403 closed

[2017-11-25 00:22] markstory commented on #5411
I would just link to what we already have. Duplicating the information us not great.

[2017-11-25 08:15] ArmenGabrielyan16 commented on #5411
Thanks. I will do it.

[2017-11-25 16:38] #5411 closed

[2017-11-30 02:47] yuxing1994 opened #5430 "chinese language !!! chinese people need you"
chinese language, chinese people need you, thank you very much.

[2017-12-01 19:16] ArmenGabrielyan16 opened #5433 "Add Coding Standards"
**Issue Description**

I think we should choose or define coding standards. This will make code style consistent throughout the project. I suggest PSR1/PSR2 standards.

---

**Do you want to address this issue?**

YES.

[2017-12-01 20:09] dereuromark commented on #5433
You must be confusing sth, CakePHP (incl the code samples) is using already all PSRs.
See https://github.com/cakephp/cakephp-codesniffer for details. This is documented in the docs.

[2017-12-02 00:20] markstory commented on #5433
@ArmenGabrielyan16 I think correcting code samples to use PSR2 where they aren't already doing so is a great idea. We try to make the samples follow the cakephp coding standards (which extends psr2), but mistakes invariably get made as it is hard to automate checking the code samples.

[2017-12-02 07:58] ArmenGabrielyan16 commented on #5433
@dereuromark @markstory  I noticed that some code examples in the docs do not use PSRs. I think we can correct code samples to use PSRs and when new PRs are submitted correct coding style as well if necessary.

[2017-12-02 11:51] dereuromark commented on #5433
Yes, you can open PRs here then. Thank you.
We can then close this ticket.

[2017-12-02 11:51] #5433 closed

[2017-12-08 17:31] elmasaom commented on #4531
After several months, I think the page is https://book.cakephp.org/3.0/en/core-libraries/validation.html .
This is a general issue I noticed about the documentation of 3.x, All details are described well, but, the documentation often does not say where to apply the configuration (ex : Controller, app controller, specific file, etc) .

[2017-12-08 19:37] markstory commented on #4531
Thanks @tutoref I'll update the documentation with clearer information on where Validator classes should be placed.

[2017-12-27 17:47] Yetispapa opened #5501 "Mysql Driver with ssl"
I faced an issue where I can't establish a secure connection to a remote mySQL database. It seems like when I add the following line in **Cake\Database\Driver\Mysql**:

        if (!empty($config['ssl_key']) && !empty($config['ssl_cert'])) {
            $config['flags'][PDO::MYSQL_ATTR_SSL_KEY] = $config['ssl_key'];
            $config['flags'][PDO::MYSQL_ATTR_SSL_CERT] = $config['ssl_cert'];

[2017-12-28 02:22] markstory commented on #5501
No. I don't think turning off SSL verification is something that would be merged into CakePHP.

[2017-12-28 02:22] #5501 closed

[2018-01-03 13:45] Leo240 opened #5510 "Correcting contribution docs"
Recently there were removed extra blank lines from all documentation, but in ``contributing/documentation.rst`` there are the next information:

Should this documentation be corrected?

[2018-01-03 21:41] markstory commented on #5510
I'll get the guide updated.

[2018-01-05 02:05] #5510 closed

[2018-01-08 11:03] Leo240 opened #5524 "Should we change instructions for notes formatting?"
In the Contributing's Documentation guide there is an instruction of how to make notes. In the example of formatting of the note there is a blank line between the ``.. note::`` tag and the text of the note. But I saw multiple times that not always blank link precedes the text of the note, and this not leads to errors in compiling of documentation. The question is - should we change that instructio

[2018-01-08 15:57] markstory commented on #5524
Having the new lines makes the notes easier to read, but its not required by sphinx.

[2018-01-08 17:26] Leo240 commented on #5524
I got it.

[2018-01-09 02:12] #5524 closed

[2018-01-09 02:38] #5312 closed

[2018-01-14 20:16] VinGarcia opened #5539 "Exception Handling not clear"
**Problems understanding CakePHP 3.x Error Handling**

While trying to implement a custom `error404.ctp` view I did not know how to proceed and the docs were not sufficient to help me. I found afterwards in [stackoverflow.com](https://book.cakephp.org/3.0/en/development/errors.html) that I am not the only one finding it difficult. The mentioned user of StackOverflow needed to read CakePHP source t

[2018-01-15 01:04] markstory commented on #5539
Thank you for the feedback on the documentation. I will work on improving it and add an section on when each template is used.

[2018-01-15 01:10] VinGarcia commented on #5539
That's great, thank you =]

[2018-01-16 04:54] markstory commented on #5539
@VinGarcia could you look at #5543 and see if I've addressed the gaps you had with the current version of the docs?

[2018-01-16 12:02] Leo240 opened #5545 "Possibly wrong terminology in views.rst"
In the main file of View documentation - /en/views.rst, there is the next lines:

  being run. They form the meat of your application's response.

I think that instead of bolded "views" word should be "templates" word, because it describes the templates folders's contents and also there is exists the ``views`` folder that describes the program logic of representation

[2018-01-16 15:11] VinGarcia commented on #5539
Thank you I just read it. It is much better. I missed an example with an `ErrorController`. I suspect that the reason you didn't put it was because it should appear by default in new Cake projects, however, I don't have it in mine. (it might be because I am not the first programmer to work in this project).

Some observations:
1. I think there is a typo in this sentence: "You can also implement me

[2018-01-16 15:18] VinGarcia commented on #5539
I also had 2 doubts that maybe are not related to the docs:

1. When I throw NotFoundException("message") the error page renders with an error 500 instead of a 404, is this the expected behavior? After reading the new version of the docs it seemed that it would be expected to render with `$code == '404'`.

2. When modifying the error layout the docs suggest creating a new layout file in `Layout/my

[2018-01-16 15:47] markstory commented on #5539
No this is not how it was working for me with a fresh application skeleton. Perhaps there is an error during error page creation that is resulting in a 500 being rendered.

I included that example to cover the situation where people wanted to use one layout for the app & errors.

[2018-01-16 15:49] markstory commented on #5545
You're right! This is probably leftover from when we used 'views' to mean templates and view classes, which was confusing and lead to the adoption of templates.

[2018-01-16 16:45] Leo240 commented on #5545
@markstory Ok) should I do corrections by myself?

[2018-01-16 16:59] VinGarcia commented on #5539
Uhmm that is good to know, in a fresh application is it expected to exist an `ErrorController.php`? This would explain why it is behaving differently for me.

Thanks for the changes

[2018-01-16 17:04] markstory commented on #5545
That would be greatly appreciated @Leo240

[2018-01-16 17:05] markstory commented on #5539
Yes, applications should contain their own ErrorController classes. It makes editing the file much easier :smile:

[2018-01-16 17:50] Leo240 commented on #5545
@markstory  Pull request is ready)

[2018-01-17 02:14] markstory commented on #5545
Thanks @Leo240 :clap:

[2018-01-17 02:14] #5545 closed

[2018-01-17 02:38] markstory commented on #5539
Thank you for reviewing the new changes. I'm going to close this for now. If you find the docs lacking in other areas please open an issue as you had great feedback on this chapter.

[2018-01-17 02:38] #5539 closed

[2018-01-17 13:01] VinGarcia commented on #5539
Thank you, I will.

[2018-01-20 01:06] VinGarcia opened #5555 "Cache configuration is not fully explained"
The Caching - 3.x documentation is good and well explained, however, there is a topic that could be improved about the [configuration options](https://book.cakephp.org/3.0/en/core-libraries/caching.html#configuring-cache-class).

For instance the examples below extracted from the Caching page:

[code]

and

[code]

When reading the examples above I got 4 unanswered questions:
1. When should I use

[2018-01-20 04:21] markstory commented on #5555
Thanks for pointing out unclear sections of the documentation. I'll get those gaps addressed :smile:

[2018-01-20 19:38] markstory commented on #5555
I think I've incorporated your feedback in #5557, let me know if I've missed something.

[2018-01-20 19:38] #5555 closed

[2018-01-21 13:45] VinGarcia commented on #5555
Yes it does solve the issue, thank you =]

[2018-01-21 22:07] markstory commented on #5555
@VinGarcia Thank you again for the great feedback on the documentation :+1:

[2018-01-23 09:49] Leo240 opened #5562 "4th level titles in docs"
When I translated the Authentication guide. I've found that 4th level titles are poorly formatted - they looks almost like simple text in english (latin) text and not recognizable in cyrillic text. The question is can we make the formatting of these titles better?.

[2018-01-23 15:42] markstory commented on #5562
Are you referring to these titles? https://book.cakephp.org/3.0/en/controllers/components/authentication.html#creating-api-keys-for-basic-authentication

[2018-01-24 05:26] Leo240 commented on #5562
@markstory Yes, you're right

[2018-01-26 13:20] LubosRemplik opened #5572 "Cell constructor options"
**Issue Description**

When I bake cell, there is `$_validCellOptions` property, however there is no documentation at https://book.cakephp.org/3.0/en/views/cells.html which says how to work with cell class constructor so I am not sure what this property/options are there for

[code]

---

**Do you want to address this issue?**

If someone explains me what are these cell options I can update doc an

[2018-01-26 13:24] LubosRemplik commented on #5572
https://api.cakephp.org/3.5/class-Cake.View.Cell.html#___construct I can see celloptions in the costructor and when I take a look into code

https://api.cakephp.org/3.5/source-class-Cake.View.Cell.html#133-163

There are 3 options, `action`, `args`, `cache`, but this is not documented, am I right?

[2018-01-26 14:27] LubosRemplik opened #5573 "Cell ViewBundler setTemplate"
**Issue Description**

https://book.cakephp.org/3.0/en/views/cells.html#rendering-alternate-templates
this part od docs says we are setting template for the cell by `$this->template = 'messages'`, should we say it is better to use `$this->ViewBundler()->setTemplate('messages')`

---

**Do you want to address this issue?**

I am OK to update doc once confirmed

[2018-01-26 14:34] saeideng commented on #5573
I think `Cell` dont support `$this->ViewBundler()->setTemplate()` yet

[2018-01-26 15:08] LubosRemplik commented on #5573
I had tried, and it worked. So I think Cell do support the ViewBuilder

[2018-01-26 16:43] saeideng commented on #4867
[code]

[2018-01-26 16:51] saeideng commented on #5573
you are right
`$this->viewBuilder()->setTemplate()` works
thanks

[2018-01-27 00:43] markstory commented on #5573
A pull request to update the docs would be great!

[2018-01-27 00:46] markstory commented on #5572
Cell options are intended to be an extension point for custom options. You are right that the documentation is lacking on them. I will get that fixed up.

[2018-01-27 03:57] markstory commented on #5572
Pull request up now.

[2018-01-27 03:57] #5572 closed

[2018-01-27 10:25] LubosRemplik commented on #5572
Thank you! Makes sense

[2018-01-27 21:15] saeideng commented on #5573
Pull request up now.

[2018-01-27 21:15] #5573 closed

[2018-01-29 09:52] ravage84 opened #5577 "Mocking Models in Controller Tetss"
Chris Harties asked on Twitter:

https://twitter.com/grmpyprogrammer/status/956952005922250752

We should cover this at https://book.cakephp.org/3.0/en/development/testing.html#controller-integration-testing

[2018-01-30 01:34] markstory commented on #5577
We will likely need a new section as Integration tests don't make it easy to replace components with mocks as they are intended to test your controllers in an integrated scenario.

[2018-01-30 05:34] Leo240 commented on #5562
@markstory Maybe we can try to make this titles bold or cursive or some combination of that?

[2018-01-31 00:22] markstory commented on #5562
I was thinking of making them the same visual size as h3. We don't use 4th level titles often.

[2018-02-04 21:16] LubosRemplik opened #5595 "Router parse string URL"
**Issue Description**

I used to use `Router::parse('/some/url')` to get array URL from string URL, but this is deprecated. See  https://api.cakephp.org/3.5/class-Cake.Routing.Router.html#_parse

I am not sure how to parse string URL by Router::parseRequest(); I guess we need to make request from URL first and then parse request, but I think it is good idea to document this?

---

**Do you want to

[2018-02-05 00:05] markstory commented on #5595
Where would you expect to find this information? We don't currently have book docs for parse() or parseRequest () as they are not commonly used in application code. Perhaps this is an example that should be in the API docs?

[2018-02-05 01:20] severinolorillajr opened #5596 "TL - Tagalog / Filipino Translations"
**Issue Description**

Missing Tagalog translations.

---

**Do you want to address this issue?**

I'd like to actively contribute to this project, please.
I have gone over the guidelines and was mentioned to get hold of you here, so you can build the necessary skeleton files. If need further information from me, you can contact me anytime.

[2018-02-05 02:17] #5562 closed

[2018-02-05 10:25] LubosRemplik commented on #5595
Possibly new section after this https://book.cakephp.org/3.0/en/development/routing.html#generating-urls *Parsing URLs*?

But you are right, not commonly used so API docs update with example should be OK.

[2018-02-05 11:46] Leo240 opened #5598 "Possible missing a reference link"
While translating the Views chapter, I've found that in the article "JSON and XML views" someone tried to make a reference link to the Response section of "Request & Response objects":

appending a top-level **``<response>``** element when using :php:class:`XmlView`.

Should we make it a working reference link? If so, then we should make the anchor text above the "Response" title in the "Request &

[2018-02-05 12:01] #5598 closed

[2018-02-05 12:03] Leo240 commented on #5598
Sorry, I did not understand that it was just a xml element name.

[2018-02-05 17:01] markstory commented on #5596
Do you have a few other people interested in working on the Tagalog translation? Getting the book translated and maintaining it can be a big job for a single person. We usually recommend at least 2 or 3 people work together on it.

[2018-02-05 22:40] severinolorillajr commented on #5596
That should not be a problem i have an entire team of 10 people here.
We can just proofread and evaluate each of our work to ensure good quality of translation. We just need a copy of en to our local code:tl. And then we can start right away.
What's the merging process by the way? How often can this be done?
Thanks.

[2018-02-06 01:32] severinolorillajr commented on #5596
Hi @markstory,
I have made a PR https://github.com/cakephp/docs/pull/5600 for the initial files for TL that needs to be translated.
Once this is merged, can we start with the translation?
Thanks.

[2018-02-06 01:33] markstory commented on #5596
I follow up with GitHub notifications every day. For translations I usually merge once the builds pass as that indicates that the documentation will build HTML/PDFs

[2018-02-13 12:40] vinzruzell commented on #5596
HI sir. I want to join also for the filipino translation. Thank you.

[2018-02-14 00:14] severinolorillajr commented on #5596
@vinzruzell , This is project is not open yet.
But we have a few projects lined up.
Come and join us at https://discord.gg/7C9JCa
But of course you have to comply with our process in order to contribute to the projects that we have pooled. Thanks.

[2018-02-15 08:43] du365 opened #5619 "sample code may be wrong in chapter 'Error & Exception Handling'"
**Issue Description**
url: https://book.cakephp.org/3.0/en/development/errors.html#changing-the-errorcontroller-class

ran the sample then I got error messages below :
[code]

row:
` protected function _getController($exception)`

I think '$exception' should be removed , am I right?

---

**Do you want to address this issue?**
sure

[2018-02-15 09:32] saeideng commented on #5619
PR open.
thanks.

[2018-02-15 09:32] #5619 closed

[2018-02-22 14:22] tenkoma opened #5632 "Can't access 1.3 manual from version select menu"
## Issue Description

If select 1.3 from the version selection, the manual can not be displayed.

## Reproduction procedure

1. Access to https://book.cakephp.org/3.0/en/index.html
2. Select "1.3 book" from version selection in the upper right. Then, access to https://book-13.cakephp.org/1.3/en/ and "Service Unavailable" is displayed.

## Additional Information

- There is no problem switching to

[2018-02-22 15:16] markstory commented on #5632
I will get this fixed up.

[2018-02-25 05:30] markstory commented on #5632
Should be fixed now.

[2018-02-25 05:30] #5632 closed

[2018-03-02 18:14] natzar commented on #4844
1 hour  and a half wasted ...

[2018-03-17 15:09] patsuckow opened #5670 "Can you add the trim() method to the Auth->identify() method?"
**Issue Description**

Many people, including myself, use the method: $this->Auth->identify();
https://api.cakephp.org/3.5/source-class-Cake.Controller.Component.AuthComponent.html#801-831

On logs of user authorization, I noticed the following:
Apparently many users store their logins and passwords in simple text files and to enter the site they simply copy them and insert them into the authoriza

[2018-03-17 15:17] #5670 closed

[2018-03-28 03:56] chinpei215 opened #5692 "Request: CMS Tutorial - File uploading"
**Issue Description**

File uploading is a very common task. But when people want to add the feature to their application, they need to know some specifications of CakePHP.

1. FormHelper::create() requires the ['type' => 'file'] option.
2. Validator requires the 'uploadedFile' rule.
3. Uploaded files can be found in ServerRequest::getData(). It would be better to use PSR-7 UploadedFile objects th

[2018-04-04 14:42] odan opened #5701 "Typo in enableBufferResults"
**Issue Description**

The documentation contains a typo.

The method name is `enableBufferedResults` and not `enableBufferResults`.

Wrong:
`$query->enableBufferResults(false);`

Correct:
`$query->enableBufferedResults(false);`

Found here:

* https://book.cakephp.org/3.0/en/orm/retrieving-data-and-resultsets.html#working-with-result-sets
* https://github.com/cakephp/docs/search?utf8=%E2%9C%93&q=

[2018-04-04 14:45] dereuromark commented on #5701
If you can please make a small pull request to fix up this typo, that would be awesome. Thank you.

[2018-04-05 11:16] VinGarcia opened #5703 "Associations Doc Missing belongsToMany through details"
**Issue Description**

The [Associations page][page] explains very well how to use most associations type but when explaining the ["belongsToMany" through option][option] it is not clear; It mentions we will need it when using pivot tables that have extra information (that's what I have in my code) but does not explain how to access this information.

Giving a more precise example supose I am acce

[2018-04-05 11:43] VinGarcia commented on #5703
I continued my search and I found [a topic][save-data] in the Saving Data doc page that seems to have an example close to what I needed:

[save-data]: https://book.cakephp.org/3.0/en/orm/saving-data.html#saving-additional-data-to-the-join-table

[code]

Thus reading the property `$student->courses[0]->_joinData->grade` would be the correct way to access that property right?

In any case, maybe an

[2018-04-05 20:15] ivanamat commented on #5338
Hi all,

When iinstall [AclManager plugin](https://github.com/ivanamat/cakephp3-aclmanager) vía Composer it doesn't work as described in the manual. To override virews must override without vendor, then it works.

The version of CakePHP is 3.5. Is the documentation really good or is there something I have not understood?

Regards!

[2018-04-06 02:05] markstory commented on #5338
The documentation should be how the code is working. @ivanamat could you open an issue in cakephp/cakephp for this?

[2018-04-06 02:31] markstory commented on #5703
Correct.

I agree l.

[2018-04-07 10:50] ivanamat commented on #5338
Hi @markstory, The issue has been created.

Regards!

[2018-04-08 03:29] markstory commented on #5338
Thanks!

[2018-05-18 11:30] kuldeepdhoni commented on #3968
use App\Error\AppError;
$errorHandler = new AppError();
$errorHandler->register();

how solve this issue??

[2018-05-18 11:54] saeideng commented on #3968
@kuldeepdhoni
there are 2 error handler
https://github.com/cakephp/app/blob/910634f18b279dbe320f479ec015f7e49c1aa24e/config/bootstrap.php#L113-L118

replace your error handler with one of them
cli or for browser

docs : https://book.cakephp.org/3.0/en/development/errors.html#creating-your-own-error-handler

[2018-05-18 12:09] kuldeepdhoni commented on #3968
may i know , only need to change the code in bootstrap.php ?? or any other file??

$isCli = PHP_SAPI === 'cli';
if ($isCli) {
    (new ConsoleErrorHandler(Configure::read('Error')))->register();
} else {
    (new ErrorHandler(Configure::read('Error')))->register();
}

[2018-05-23 18:07] Avemaar opened #5750 "How to Set Cross Origin Request Headers (CORS) for CsrfProtectionMiddleware ?"
**Issue Description**

Its not clearly in the documentation how CORS headers should be defined.
The description here
https://book.cakephp.org/3.0/en/controllers/request-response.html#setting-cross-origin-request-headers-cors

Does not cover in which file(Appcontroller?),in which function must be added the lines in the link.
I know this is not a tutorial forum, but i trust in i will get answer sinc

[2018-05-23 18:53] markstory commented on #5750
You can set CORS headers in any controller that needs them. If you'd like to have CORS headers across your application you could use AppController, or a Middleware layer.

[2018-05-23 18:55] #5750 closed

[2018-05-30 18:57] emartinez06 opened #5758 "Order of chapters in ebook pdf format"
**Issue Description**
Order of chapters on the pdf version feels wrong. Installation instructions for CakePHP should be the first or second chapter so a reader that is not familiar with it can follow the necessary steps to get into it. I think that a better order on chapters can help on the process of reading the whole book as it guides the lector to the correct section it is looking for in an org

[2018-05-30 20:11] markstory commented on #5758
Help on reorganizing the epub-contents would be greatly appreciated.

[2018-05-31 12:37] emartinez06 commented on #5758
Which branch do I need to use for make those changes? I already forked the project. Default it seems to be 3.0

[2018-05-31 19:34] markstory commented on #5758
Yes `3.0` is the correct branch if you want to update the docs for 3.x

[2018-07-26 12:32] ADmad opened #5801 "Unsatisfactory results for keyword "Command""
Searching for keyword "command" on the manual doesn't list the page https://book.cakephp.org/3.0/en/console-and-shells/commands.html at all. I would expect it to be the first one listed.

I would also expect this page https://book.cakephp.org/3.0/en/console-and-shells.html  to be somewhere near the top of the results list while it's listed 8th currently.

[2018-08-19 09:43] dsofeir opened #5823 "UUID convention misleading"
**Issue Description**
In [Database Conventions](https://github.com/cakephp/docs/blob/3.0/en/intro/conventions.rst#database-conventions) towards the bottom of the section there is the following passage:

From this I got the impression that if there was a field called `UUID` in the database or Model this would be automatically populated with a UUID on save, however after reviewing the code this is n

[2018-08-19 10:32] lorenzo commented on #5823
sure, I’m all for making it more clear

[2018-09-01 03:58] shakil3 opened #5836 "Links for adding admin and user in Simple Acl controlled Application is not working."
**

**Issue Description**
In the documentation of 2x series it is written that "add some groups and users using the baked forms by browsing to http://example.com/groups/add
and http://example.com/users/add". But when i click to that link  nothing found to add user and admin.

---
![image](https://user-images.githubusercontent.com/22347062/44942142-fc24bd80-adcc-11e8-83d1-de64aff64b7d.png)

**Do yo

[2018-09-01 04:02] markstory commented on #5836
You have to replace `example.com` with your actual host name.

[2018-09-01 04:06] shakil3 commented on #5836
Thanks @markstory for your instant support. Will you help me little bit more by providing information that how would i get my actual host name......

[2018-09-01 04:28] shakil3 commented on #5836
i took my host name from cmd using ipconfig /all
Windows IP Configuration

   Host Name . . . . . . . . . . . . : DESKTOP-4IA6IPO
   Primary Dns Suffix  . . . . . . . :
   Node Type . . . . . . . . . . . . : Hybrid
   IP Routing Enabled. . . . . . . . : No
   WINS Proxy Enabled. . . . . . . . : No

and browse to those site.
http://desktop-4ia6ipo/groups/add
http://desktop-4ia6ipo/users/add

but st

[2018-09-01 04:36] shakil3 commented on #5836
I replaced example.com with host name found by ipconfig / all in cmd. But
still it is not working.

On Sat, Sep 1, 2018, 10:02 AM Mark Story <notifications@github.com> wrote:

[2018-09-01 07:57] saeideng commented on #5836
if its on your server `http://example.com/groups/add` works ( after replace with your domain )
if its on your local `http://localhost/yourproject/groups/add` works ( in most cases  )
you have to install apache + php and follow how to run php projects in local
these links are true

--------
join to Slack  if you need more help

--------
This is not a help forum. The ticket tracker is reserved for p

[2018-09-01 07:57] #5836 closed

[2018-09-14 09:33] Megslalk opened #5846 "Incorrect licence accidentally added to docs"
MIT licence was added to the docs accidently/incorrectly via https://github.com/cakephp/docs/pull/5399

Correct licence needs to be added asap - https://creativecommons.org/licenses/by-nc-sa/4.0/

[2018-09-17 10:34] arilia opened #5847 "Sending a String as File"
**Issue Description**

[Here](https://book.cakephp.org/3.0/en/controllers/request-response.html#sending-a-string-as-file) the manual suggest to use the deprecated `body()` method so I get deprecation warning If I use the suggested code

[2018-09-17 13:32] ravage84 commented on #5847
@arilia thanks for pointing this out.

You are right, the docs are outdated in case of this example.

See the API docs:
https://api.cakephp.org/3.6/class-Cake.Http.Response.html#_body

Would be able to send us a pull request with the necessary changes to fix this example?
See the following example, which contains the old and  new way:

https://book.cakephp.org/3.0/en/controllers/request-response.h

[2018-09-19 05:48] kaiweispacebib opened #5848 "PaginatorHelper options method doesn't handle `defaultModel` option"
- cakephp 3.5.17

`$this->Paginator->options` method doesn't handle `['defaultModel' => 'Articles']`. But cover `['model'=>'Articles']`:
[code]
- Cookbook 3.x:
![image](https://user-images.githubusercontent.com/37279857/45732989-5917d480-bc11-11e8-8910-d615bf49df27.png)

[2018-09-19 12:02] arilia commented on #5847
I'm not very good at this.

Anyway I created a PR, see https://github.com/cakephp/docs/pull/5850

[2018-09-19 12:08] ravage84 commented on #5847
Don't worry. We all started small. :smirk_cat:
Closing as PR is open.

[2018-09-19 12:08] #5847 closed

[2018-09-20 01:59] #5848 closed

[2018-09-28 14:43] andyfoote opened #5862 "Documentation on caching loaded results via the Query Builder needs clarification"
**The documentation on caching loaded results via the Query Builder is unclear as to how the cache key is read.**

I've written this as a Stack Overflow post here https://stackoverflow.com/questions/52556533/how-does-cakephp-3-x-orm-know-which-cache-file-to-read-from-without-explicitly-d/52557266 which has a correct response. Essentially the documentation on https://book.cakephp.org/3.0/en/orm/que

[2018-10-02 12:40] Aerue opened #5865 "Add deprecation to Csrf component, favor to Csrf Middleware"
**Issue Description**

Documentation never warning about the conflict between  Csrf component and Csrf Middleware.

Maybe the doc should be updated to warning about this conflict like said in the install skeleton documentation...

https://github.com/cakephp/cakephp/issues/12453
https://github.com/cakephp/docs/commit/adcb9005876bbb04157bfa90875357536a7c4fc0

[2018-10-03 10:04] ravage84 commented on #5865
Well the documentation states that the component is deprecated here:

https://book.cakephp.org/3.0/en/controllers/components/csrf.html

Where and how would you improve thta?

[2018-10-03 16:31] Aerue commented on #5865
Having both Csrf component and Csrf middleware on the doc is a little bit confusing, maybe remove the deprecated one from the 3.x doc and only display on 3.0 <=> 3.4 ?

[2018-10-03 16:37] ravage84 commented on #5865
@Aerue in the past sometimes we removed such documentation but that led to confusion for people still using the deprecated parts of the framework. Not everybody can rip out and replace code that use deprecated parts of a framework.

Unfortunately, we have no documentation for 3.0 - 3.4, separately. Maintaining them would be way too much work.

Do you see another way to improve?

[2018-10-03 16:44] Aerue commented on #5865
The major issue here, it's i checked the doc, but didn't see the deprecation warning, i go directly on the github issue to find the deprecated message on the skeleton, so maybe we can impove the visibility of deprecated warning ?

[2018-10-08 09:32] ravage84 opened #5867 "[3.x/4.x][RFC] Step-by-Step Guide for Integrating FriendsOfCake/bootstrap-ui"
Refering my comment in https://github.com/cakephp/app/issues/635#issuecomment-426587452

What do you guys feel about adding a step-by-step guide for integrating ``FriendsOfCake/bootstrap-ui`` into the app template to the documentation for 3.x or 4.x?

This could lead to a tighter inclusion of our plugin ecosystem.

[2018-10-09 01:15] markstory commented on #5867
I could see providing a link out to the plugin docs, but maintaining plugin docs inside the core docs could get complicated as we may fall out of sync with the code.

[2018-10-31 02:09] markstory commented on #5846
* 3.0 docs were updated in 7bec32bc57bd6a231ec44fadaf8d58822c40c5b2
* 4.0 docs were updated in c099d092ed989bc0ab9c3f5afa1544e12577a05d

[2018-10-31 02:09] #5846 closed

[2018-11-10 18:28] garas opened #5891 "RFC: Remove minor version from URL of 4.0 docs"
As minor versions (3.1, 3.2, ...) were released, version string in URL left `3.0`.

Readers might be misled that it is docs for older version.

As changing URL with each minor release is unfeasible, I suggest (starting with version 4) to change it to simply `4`, or to `4.x` as in version drop-down.

Another option would be to use `current` or `latest` like in Symfony, and change URL to simple `4`

[2018-11-11 03:56] markstory commented on #5891
Is it? We could have additional branches for each minor and add jenkins jobs to deploy each branch as well. It is more work but its not unfeasible.

:+1: to `4.x` if we stick with one edition of the docs for the entire major.

We could do this today, it is a small amount of nginx changes. We already have https://api.cakephp.org/2.latest and https://api.cakephp.org/3.latest. Being consistent would

[2018-11-11 10:46] garas commented on #5891
The _unfeasible_ is too strong term I used with my sometimes poor English dictionary. I meant it could be too much work to maintain (and translate) multiple minor versions, and to backport improvements.

If  `current`/`latest`, it should stay in URL, not redirect. Ex. `https://book.cakephp.org/latest/en/orm.html` should be URL for version 4, then 5 etc. As the advantage, it would be the same URL i

[2018-11-18 09:03] smarek opened #5893 "CsrfProtectionMiddleware documentation ambiguous"
Usage of CsrfProtectionMiddleware is ambiguous through the docs and examples

default app skeleton registers the middleware and uses it in routes
https://github.com/cakephp/app/blob/master/src/Application.php#L71
https://github.com/cakephp/app/blob/master/config/routes.php#L53

but the docs say, to add the middleware to the middlewareQueue on Application build
https://book.cakephp.org/3.0/en/contr

[2018-11-18 09:18] smarek commented on #5893
Looks like either one is OK, but using both at once, will cause the "CSRF token mismatch" error, even when using singleton for both $middlewareQueue->add and $routes->registerMiddleware

[2018-11-18 13:48] markstory commented on #5893
Yes you can do either approach, but they behave differently.  When applied in the application middleware hook, *all* actions in an application have CSRF checks applied. When applied through routing scopes specific route groups can be included/excluded.

Do you have a suggestion on how we could make both scenarios easier to understand? Should the docs only use scoped middleware in its examples?

[2018-11-18 16:17] smarek commented on #5893
@markstory thanks for clarification, I've made proposal PR for english version of docs in #5894

[2018-11-19 01:51] markstory commented on #5893
Closing this as the pull request is open now.

[2018-11-19 01:51] #5893 closed

[2018-12-04 15:09] davidyell opened #5903 "Validation improvements"
**Issue Description**
I think that it's more logical for the [Adding Validation Providers](https://book.cakephp.org/3.0/en/core-libraries/validation.html#adding-validation-providers) to follow the [Creating Reusable Validators](https://book.cakephp.org/3.0/en/core-libraries/validation.html#creating-reusable-validators) in the book.

This is because I think most developers goals on these sections w

[2018-12-04 15:32] davidyell commented on #5903
Here is what I ended up with, in case it's of value.

[code]

[code]

PS, Perhaps it could use https://github.com/cakephp/localized/blob/master/src/Validation/GbValidation.php

[2018-12-10 13:31] nedvajz commented on #5595
If somebody has trouble to realize how to like me

[code]

[2019-01-10 04:30] tsuchiyanohito opened #5932 "UNIX_TIMESTAMP_FORMAT not found link."
**Issue Description**

issue

https://api.cakephp.org/3.7/class-Cake.I18n.Time.html
Constants summary
string UNIX_TIMESTAMP_FORMAT 'unixTimestampFormat'
UNIX_TIMESTAMP_FORMAT link error.
https://api.cakephp.org/3.7/source-constant-UNIX_TIMESTAMP_FORMAT.html#98-103

---

**Do you want to address this issue?**

[2019-03-13 13:28] aecarlosae opened #5989 "We need more official documentation about plugins for modular systems"
**Issue Description**

Hello guys. I have been searching for plugin documentation to build a modular system but I do not found enogh official docs for distincts aspects that a new developer need to know. For example, when a plugin is more that a simple functionality, when this one, include session, login process, custom session and cookies data, integration with global vendors sources... I think t

[2019-03-13 14:40] markstory commented on #5989
Isn't a login process made of controllers, components, models and templates? Are the plugins you're trying to create contained within your application repository or are they separate repositories?

[2019-03-18 05:23] keshravi0 opened #5994 "Missing CSRF token cookie Cake\Network\Exception\InvalidCsrfTokenException"
**Issue Description**

---

**Do you want to address this issue?**

[2019-03-18 10:32] #5994 closed

[2019-03-18 18:41] ravage84 opened #5995 "3.x findOrCreate() is not documented"
The CakePHP 3.x ORM method [findOrCreate()](https://api.cakephp.org/3.7/class-Cake.ORM.Table.html#_findOrCreate) is nowhere documented in the book.

At best it should showcase an example with the callback.

Related [tests](https://github.com/cakephp/cakephp/blob/1d82fdd7fd1adceae640ee0f5e8e3f6d6cf3e95e/tests/TestCase/ORM/TableTest.php#L5651-L5840).

[2019-03-20 02:09] aecarlosae commented on #5989
They form a single application that must be created in a total modular way. I have been coding using CakePHP's plugins but (I think) there is not enough info about plugins for modular application development.

[2019-03-20 02:29] markstory commented on #5989
Ok. I don't know enough about what is missing to write those docs myself, but I can help edit or round out examples from others.

[2019-03-20 02:52] aecarlosae commented on #5989
Ok, imagine a module that needs to use auth component in some actions. How do you use application auth component in a plugin that has a models, views and controllers?

[2019-03-20 18:50] markstory commented on #5989
I thought we had docs for that in the components chapter? https://book.cakephp.org/3.0/en/controllers.html#configuring-components-to-load

We could add links to that section from the plugin chapter as well if you think it would help.

[2019-03-21 17:16] dereuromark commented on #5995
I just found the same issue when checking..

[2019-03-22 16:19] aecarlosae commented on #5989
Yes. I think that at least a link as a references or a little 'how to' is important to let us know how much modular a project can be build with.

[2019-03-24 03:59] aecarlosae commented on #5989
I am building a company admin system... It must be build in a modular way (CAKEPHP IS PERFECT FOR ME). I have to build 5 programs as a plugin (a module) each one of them.

Each program (plugin or module) must share the same database, the same authentication process... to work together but they can work independently (Obviously)

My initial problem was to discover if cakephp was the right framework

[2019-03-26 05:55] edenramoneda opened #6000 "Failed to load PDF document."
I tried to open the pdf documentation for CakePHP but it returns error
Failed to load PDF document.
![Untitled](https://user-images.githubusercontent.com/28981352/54974365-c6486000-4fce-11e9-9127-4612f10cd015.png)

[2019-03-26 07:59] saeideng commented on #6000
I test it with FF , also  I download it with a downloader , it works for me
just with chrome I could not

[2019-03-26 08:21] edenramoneda commented on #6000
How can I download it?

[2019-03-26 08:36] saeideng commented on #6000
this problem should fix by cake itself but for now  you can download it with an App

just like other files
 like uget/IDM/wget , ....

[2019-03-26 08:38] saeideng commented on #6000
I used uget but it taken more than 6 mins for 2Mb file

[2019-03-26 08:39] edenramoneda commented on #6000
It getting errors in IDM also I think I should try uget/wget

[2019-03-26 08:43] saeideng commented on #6000
until fixing this problem there is another way and it is making pdf in local
https://github.com/cakephp/docs#building-the-pdf

[2019-03-26 09:02] edenramoneda commented on #6000
I downloaded it through my phone and it works. Thanks :-)

[2019-03-26 09:06] edenramoneda commented on #6000
It's so nice PDF! the contents is all the same as web documentation, I hope all frameworks have this we could just read documentation even offline. Good Job!Thank you again

[2019-03-26 09:49] #6000 closed

[2019-03-26 19:13] saeideng commented on #5865
it shows if you use both Csrf component/middleware together
this is a soft deprecation
I think we can close the issue

[2019-03-26 19:13] #5865 closed

[2019-03-26 19:35] saeideng commented on #4867
I think docs is clear enough

[2019-03-26 19:35] #4867 closed

[2019-03-26 19:41] saeideng commented on #4629
markstory's  PR merged about 2 years ago
we can close now

[2019-03-26 19:41] #4629 closed

[2019-03-26 20:31] saeideng commented on #3967
ping

[2019-03-26 20:36] saeideng commented on #3857
I think we can close this , a PR has been merged

[2019-03-26 20:36] #3857 closed

[2019-03-26 20:43] josegonzalez commented on #3967
I can't remember now, lets close this.

[2019-03-26 20:43] #3967 closed

[2019-03-26 20:45] saeideng commented on #4655
docs described here https://book.cakephp.org/3.0/en/phinx/migrations.html

[2019-03-26 20:45] #4655 closed

[2019-03-26 20:58] saeideng commented on #4844
you can define it beside other callbacks , `beforeFInd()`/ `beforeSave()`/ 'afterSave()` withing Model class
Docs : https://book.cakephp.org/2.0/en/models/callback-methods.html#afterfind

[2019-03-26 20:58] #4844 closed

[2019-03-26 22:20] saeideng commented on #4901
I think all `Table` classes converted to `TableShema` now

[2019-03-26 22:20] #4901 closed

[2019-03-28 06:40] saeideng commented on #6000
problem has been solved
you can use chrome or any other application

[2019-04-08 12:01] manoj81290 commented on #4229
Hi,

I want create URL like bellow:
admin/users/account_id:1234

how can I create url like this.?

[2019-04-09 13:24] AlexanderArce opened #6017 "3.x generateHash() in withEtag() not documented"
**Issue Description**

When using the `withEtag` function as explained in the [docs](https://api.cakephp.org/3.7/class-Cake.Http.Response.html#_withEtag), it returns an `Unknown method generateHash` error. I couldn't find any reference to `generateHash` anywhere.

![imagen](https://user-images.githubusercontent.com/27924059/55803506-ba829080-5ada-11e9-874a-87c3c9e7238c.png)

---

[2019-04-30 19:41] ssimo3lsuhsc commented on #5299
This issue needs to be reopened. As of 2:35 PM Central Time on April 30, 2019, the page at https://book.cakephp.org/3.0/en/intro/conventions.html, section "Database Conventions," does NOT contain the following sentence:

The field name of a primary key should always be `id`, even if it is related to a foreign key in another table.

The truth is, I'm not trustworthy enough to make that change, and

[2019-04-30 19:43] dereuromark commented on #5299
I would say yes: That convention is useful to add as this is the default in all cases, including initial migrations for bake.

[2019-04-30 20:52] gildonei commented on #5299
Does it include the primary key on specialized tables where the primary key is a foreign key from a **isOne** relation?

[2019-04-30 21:01] jimgwhit opened #6051 "Cakephp 4 Use session in a static method"
I recently tried cakephp 4.  I had a need to get some session data in a static method.

See https://discourse.cakephp.org/t/solved-use-session-in-static-method-cakephp-4/6011

Got it resolved using:
[code]

However before I asked I could not find anything in the docs on how to use session in a static method.  Of course what the docs show did not work:
[code]
Can that be added to the docs, a short

[2019-05-01 00:35] markstory commented on #6051
We don't document reading session data from a static context as that isn't a scenario that our abstractions handle.

Instead of static access we try to encourage folks to pass the request or session object into their static functions. If that is not possible the `$_SESSION` super global works as it does in vanilla PHP.

We could. I am not sure why passing the session is a parameter would require e

[2019-05-01 03:23] jimgwhit commented on #6051
@markstory

So in my helper if I put instance methods:
[code]

But still want to call it statically, is there any thing wrong with this:
[code]

Usage:
[code]

That's how I use make "static" looking calls.

[2019-05-01 13:08] markstory commented on #6051
Couldn't the request/session be a parameter to `chkRole()`? That would remove the need to pull the request out of a global scope.

[2019-05-01 15:53] jimgwhit commented on #6051
@markstory of course that would work but would mean so much more code anywhere the usage was necessary.

Instead of a short and nice looking

[code]

I would have to get the request every time I pass it, and cumbersome code all over the controller and model.

Too bad there's not facades in Cake PHP also.

Is there a short and nice-looking way to do as you suggested.

[2019-05-01 16:05] dereuromark commented on #6051
See how [TinyAuth](https://github.com/dereuromark/cakephp-tinyauth) provides a component and helper as convenience wrappers. No static calls necessary.
`$this->AuthUser->foo()` etc
You could do sth similar for your custom requests on the different levels.

[2019-05-01 16:29] jimgwhit commented on #6051
Another point is the documentation States at session is also available in helpers.

And many helpers use static methods.

Seems like you would have some sort of facade to easily use session in a helper kind of like laravel has facades.

That's the whole purpose of static looking calls, they are pretty.

Rather than having three four or five arrows.

A static looking call whether truly static or no

[2019-05-01 19:34] jimgwhit commented on #6051
Please see previous reply also.

I tried this:

Mad a class called SessionHelper:
[code]

In the class with static calls added use statement:
[code]

And just tested if it works:
[code]

That works.  Any way you can add a nicer helper to do this statically like above.

I would love to add a facade myself, but I never have worked with facades.

I would then have to add it into vendor via composer.

[2019-05-02 01:23] markstory commented on #6051
Accessing the session through Router is because of some historical reasons. In earlier versions of Cakephp we offered a way to simulate sub-requests, and needed a way to keep track of the current 'request stack'. That place ended up being `Router` and `Router::getRequest()`. From the request you can get the session object.

Getting the current request from Router is not a method that will be going

[2019-05-02 02:18] jimgwhit commented on #6051
Weird how router offers a static method but session doesn't.

Why is that I'm just so curious here.

[2019-05-02 22:33] #6051 closed

[2019-05-03 01:27] markstory commented on #6051
Personally, I wouldn't use the __callStatic() approach. I find it adds indirection that I would need to re-read. I would also explore ways to structure code so that I don't have as many statics. I have been burned a few times in the past from many static functions and global mutable state though.

[2019-05-08 07:32] othercorey opened #6059 "Adding schema.tablename format to Table::setTable() description"
I found this issue where support for specifying a schema for a table was added in the form of 'schema.tablename'.

https://github.com/cakephp/cakephp/pull/4340

Since I'm working through the issues of using a legacy postgresql schema + table that requires double quotes, I initially assumed this needed to be specified in a postgres format of 'schema."table-name"'.

However, this isn't how the schem

[2019-05-08 21:23] othercorey commented on #6059
I don't mind providing a patch, if this is information you want to publish.  Do you normally put implementation details like this in the api or book?

[2019-05-08 21:38] othercorey commented on #5299
Usually pivot tables have primary keys in the form of `table_id` not `id`.  I'm not sure the phrase is clear.

If you are saying that for tables Users and Profiles that the primary key in Profiles should be `id` even though there is a foreign key in Users called `profile_id` then that makes sense.

[2019-05-08 21:44] dereuromark commented on #5299
Yes, by convention for all relations, no matter what.
As such this is helpful to add, you can always choose to strive from conventions.

[2019-05-09 02:30] othercorey commented on #5823
As a new user, I'd argue that this is clearly only talking about primary keys on insert.  It would be confusing to see columns named "UUID" auto-generated in this section.  I would be less confused to see it in a table Behavior's section.

[2019-05-09 03:10] dsofeir commented on #5823
@othercorey Thank you, I had forgotten about this ticket. I'm not entirely sure I understand your point.

I think the the following sentence suggests that CakePHP will do something with UUIDs __automatically__ when you use the `Table::save()` function.

I've looked at the source and the function `Cake\Utility\Text::uuid()` is not called anywhere in the execution path of the `Table::save()` functio

[2019-05-09 03:16] othercorey commented on #5823
The UUID is generated for the primary key only when saving a new Entity using `Table::save()`.  This happens in `Table::_insert()`.
[code]

[2019-05-09 03:25] dsofeir commented on #5823
Interesting, so that didn't work when I was working on it. However that was months ago. Maybe this is a bug rather than an unimplemented feature?

In any case I agree, the intent is there so the documentation is correct.

[2019-05-09 03:25] #5823 closed

[2019-05-09 11:12] gildonei commented on #5299
As an example of specialized tables I am referring could be:

* customers
      id -> Primary, Auto increment, Not Null
      name
* people
      id -> Foreign Key from customers, Not Null (this will not be auto increment, must have the same Id as customers)
      driver_license_number
* companies
       id -> Foreign Key from customers, Not Null (this will not be auto increment, must have the sam

[2019-05-09 11:34] inoas commented on #5299
In my opinion a lot of trouble could be saved by going two fold:
A) respect foreign key constraints where they exist otherwise fall back to only plural
B) only use plural for table names, foreign keys, table class names, entity class names, only use the inflector for cake bake to render single entities, flash messages etc

I know that that's against how ancient rails and cake since version 1 did i

[2019-05-09 12:22] gildonei commented on #5299
A) respect foreign key constraints where they exist otherwise fall back to id + only plural
B) only use plural for table names, foreign keys, table class names, entity class names, only use the inflector for cake bake to render single entities, flash messages etc

I completely agree with item B

About item A, i think ORM must support same kind of relations that databases supports, isOne, hasOne, h

[2019-05-09 13:33] markstory commented on #6059
I think including it in the API makes sense for this as I don't think we introduce the schema.table form in the book.

[2019-05-10 01:01] othercorey commented on #6059
After looking at the code, I realized that insert might be broken for schema.table names.  I didn't need this functionality so I never tested it before.

If the table name requires quoting, then the insert will fail as it uses the raw name from Table::setTable().

However, you cannot currently quote the table name in the called to Table::setTable() because Collection::describe() doesn't handle it

[2019-05-10 01:42] markstory commented on #6059
@othercorey Have you tried enabling `identifierQuoting`? it might help with the table name needing quotes.

[2019-05-10 01:59] othercorey commented on #6059
That did fix the issue on insert, thanks for reminding me.  We had disabled autoquoting because we have an awful mix of legacy tables using column names with spaces and have places were we manually quote to avoid issues.  I've been evaluating and mitigating all the issues of switching to cakephp from an internal orm while working to move way from these legacy tables.

[2019-05-10 02:14] othercorey opened #6063 "Cannot build html docs with DockerHub image"
The cakephpfr/docs DockerHub image recommended for building the html docs does not include cakephpsphinx in the requirements.txt file which causes the build to fail.

This issue is in both light and full cakephpfr/docs images.

[2019-05-10 02:17] markstory commented on #6063
@othercorey Where is that image recommended? I don't think it has been maintained in a number of years, and building your own image from the Dockerfile in the repository should work better.

[2019-05-10 02:18] othercorey commented on #6063
Recommended might be the wrong word, but it comes first in the README.md file for building the docs.

[2019-05-10 02:19] markstory commented on #6063
Thanks. I'll get that updated.

[2019-05-10 02:29] othercorey commented on #6063
On a related note, you might consider moving to the debian:stretch base image.  The jessie packages were moved off to the archive server and unless you manually pull the latest jessie image, you get a really confusing error about missing package servers.

The ticket where they updated the issue begs users to migrate off jessie lol.

Unfortunately, docker doesn't auto-update the base image when bui

[2019-05-10 03:31] othercorey commented on #6059
I'm going to close this as the API change will happen in cakephp repo.

[2019-05-10 03:31] #6059 closed

[2019-05-12 02:34] othercorey commented on #6063
We can close this as the Dockerfile built image works.

[2019-05-12 13:08] #5932 closed

[2019-05-13 00:40] #6063 closed

[2019-05-15 06:16] inoas commented on #5299
My 2 cents: Maybe I am wrong but isOne/isA can be mapped as hasOne/BelongsTo - databases that do isOne also have foreign keys only on one side and primary keys on the other (and not bidirectional as isOne/isA would assume)

[2019-05-15 15:12] dereuromark opened #6075 "4.x hidden BC break => migration guide"
Currently, if you upgrade forms (or other parts) using the following hook:
[code]

You will now silently have a passing form (no validation anymore at all) because the callback is never executed.

We need to document this in the guide for those cases - or add dummy hooks that trigger deprecation/exception.

It is now:
[code]

[2019-05-15 18:20] markstory commented on #6075
Would it be reasonable to emit a deprecation warning during construction? We could check for the existence of that method and then emit a deprecation warning.

[2019-05-16 16:43] othercorey opened #6077 "Calling out importance of setting SQL function argument type"
One of the difficult things about learning CakePHP ORM is walking through the query documentation.  While it covers almost everything at some point, sometimes it's difficult to pick out the magic words.  This is especially true of query-builder.rst which feels like one big sentence sometimes.

That specific page is so dense that I really only know what's in there from a search result or looking th

[2019-05-16 21:03] markstory commented on #6077
Adding more headers sounds reasonable to me.

[2019-05-19 02:09] #6077 closed

[2019-05-23 04:08] melbreaker opened #6088 "CakePHP 3 cookbook epub link is broken"
A link to download epub version of CakePHP 3 cookbook is broken.
https://book.cakephp.org/3.0/_downloads/en/CakePHPCookbook.epub

[2019-05-24 01:58] #6088 closed

[2019-06-20 16:27] ravage84 opened #6120 "3.x addDetector() documentation incomplete & confusing"
The documentation about [Checking Request Conditions](https://book.cakephp.org/3.0/en/controllers/request-response.html#checking-request-conditions) could be more extensive and certainly more clear, than it is now.

I have two issues.

1. The current documentation does not show any example where more than one detection type is used within one detector. Working example in [FriendsOfCake's CsvView b

[2019-06-23 18:28] #6120 closed

[2019-07-08 18:24] karmicdice opened #6135 "Instructions to retrieve socket file path"
**Issue Description**

Refers to [issue 351 at migrations](https://github.com/cakephp/migrations/issues/351)
---

**Do you want to address this issue?**

Yep.

[2019-07-08 19:56] ravage84 commented on #6135
@karmicdice it wasn't necessary to create this issue. Referencing the original issue in the new PR is fine.

[2019-07-08 20:19] karmicdice commented on #6135
My bad. Will take care in future :)

[2019-07-08 20:19] #6135 closed

[2019-07-09 07:24] mehov opened #6138 "Linking from the Book to the API docs"
I'm looking at [CookBook → Deleting Data → Bulk Deletes](https://book.cakephp.org/3.0/en/orm/deleting-data.html#bulk-deletes)

Right now it shows

    Cake\ORM\Table::deleteAll($conditions) ¶

without providing any further info on the `$conditions` format or requirements. Looking up the source myself has proved to always clarify the idea faster than asking on the internet, so normally I'd manually

[2019-07-09 10:55] ravage84 commented on #6138
I totally agree. This is about Developer Experience.
Over and over I ran into this, too.
My browser recommends me api.cakephp.org, when I start to type "api", so not much of a hassle for me, but it really could be improved.

If it only was for a static badge on the view port side (next to linking to the latest API docs of this release branch.

A quick mockup:

![grafik](https://user-images.githubu

[2019-07-10 13:44] dereuromark opened #6140 "Client adapter info"
https://book.cakephp.org/3.0/en/core-libraries/httpclient.html#

The Client is missing the info about default engine (curl), but also engine/adapter and how to switch in general.
Or maybe we just want to outline what is inside code doc block?
[code]
The curl part being available and otherwise fallback might be interesting.

[2019-07-10 13:45] dereuromark commented on #5995
Also the callback option could need some examples or showcasing / use cases.

[2019-07-11 02:32] #5995 closed

[2019-07-11 02:38] markstory commented on #6140
Pull request open.

[2019-07-11 02:38] #6140 closed

[2019-07-22 15:19] Schlaefer opened #6148 "Add table of contents to Migrations page"
The Migrations page [1] is very long, it would be nice if a TOC could be added for quick navigation.

[1] https://book.cakephp.org/migrations/2.x/en/

PS: The presentation of those non-core(?) modules is a little bit confusing. In this case I had to check thrice that I wasn't looking at CakePHP 2.x documentation.

[2019-07-22 15:35] garas commented on #6148
There is [contents page](https://book.cakephp.org/migrations/2.x/en/contents.html), but link is hard to discover.

I agree TOC should be in page itself too.

The same issue applies to other plugins.

[2019-07-22 21:08] markstory commented on #6148
Would you want to see an on page table of contents [similar to this](https://book.cakephp.org/3.0/en/development/configuration.html)?

[2019-07-22 21:28] Schlaefer commented on #6148
Yes - sorry if I wasn't clear on that - I meant the gray box on the right outlining the page [1]. It would make the page much more accessible for looking up a particular Migrations feature. I could swear it was there before.

[1] https://i.imgur.com/JDhjP0D.png

[2019-07-25 10:35] challgren commented on #5995
Could this maybe crosslinked in `Retrieving Data & Results Set`. I was looking for this and expected it in `Retrieving Data` instead of `Saving Data`

[2019-07-25 10:38] ravage84 commented on #5995
@challgren I guess, it could. Please open a new Pull Request.

[2019-07-28 03:04] markstory commented on #6148
All the plugin mini-sites should have Page contents now.

[2019-07-28 03:04] #6148 closed

[2019-08-07 07:33] mehov opened #6153 "Version switcher taking me to the index page, not the doc page I was on"
What I did:
----

1. [google.com/search?q=cake\orm\query](https://www.google.com/search?q=cake%5Corm%5Cquery)
2. click on [api.cakephp.org/3.2/class-Cake.ORM.Query.html](https://api.cakephp.org/3.2/class-Cake.ORM.Query.html), the first result on the SERP
3. manually edit *3.2* (the version in the URL) to *3.8* (the latest right now) in the page URL

What I want
----

Choosing a version in the swit

[2019-08-07 14:41] markstory commented on #6153
I'm not sure how to get ApiGen to do this, but I agree it would be an improvement.

[2019-08-08 08:49] dereuromark opened #6155 "Entity unset() usage"
This is completely missing yet in entity docs:
[code]

https://book.cakephp.org/3.0/en/orm/entities.html

And how this is supposed to be used - in what cases.
As this differs quite a bit from normal null setting.

Refs https://github.com/cakephp/cakephp/pull/13482

[2019-08-09 22:09] riddlemd opened #6158 "REST document page is incorrect in REST implementation"
https://book.cakephp.org/3.0/en/development/rest.html sample code uses a named parameter from a GET request to delete an entity. This is an incorrect implementation of REST.

---

The sample delete code should check if the request is of type DELETE or at the very least prevent deletes from happening from a GET request. GET requests are subject to prefetching and auto reloading (incases where the b

[2019-08-10 07:22] dereuromark commented on #6158
The actions might be missing

    ->request->allowMethod()

calls

[2019-08-11 01:35] markstory commented on #6158
Are you referring to the following

[code]

This doesn't read from a query string parameter, and instead reads from a path segment. The documentation also suggests using `RouterBuilder::resources()` to generate RESTful routes. This method only ensure that only `DELETE` method requests are forwarded to the delete method. Is there something I'm not understanding about the problem?

[2019-08-12 08:36] mehov opened #6160 "Label deprecated methods as such under Method Summary"
This is a screenshot of Method Summary on [this page](https://api.cakephp.org/3.8/class-Cake.Database.Schema.TableSchema.html). Both [`column()`](https://api.cakephp.org/3.8/class-Cake.Database.Schema.TableSchema.html#_column) and [`columnType()`](https://api.cakephp.org/3.8/class-Cake.Database.Schema.TableSchema.html#_columnType) methods are deprecated as of 3.5; the documentation is for 3.8.

Cu

[2019-08-12 12:16] ADmad opened #6162 "Update docs for HtmlHelper::tableHeaders() changes"
Creating this issue just so that it's not forgotten.

Refs https://github.com/cakephp/cakephp/pull/13478

[2019-08-12 15:07] riddlemd commented on #6158
The issue with delete is that regardless of if parameterized, named, or query input is used to designated the id of a resource the request is still being done via GET. GET should never be used to perform an action that results in a state change or deletion of a resource. GET can be pre-cached by the browser (as in all the links on a page can be requested, without user performing the action) which

[2019-08-12 18:08] markstory commented on #6158
@riddlemd As an example doing a `GET /articles/123` will simply fetch the article, and this is fine to cache/prefetch as it is a read operation. One would need to do `DELETE /articles/123` in order to effect a change. With the routes generated by `RouteBuilder::resources()` a client cannot make a GET call to the `delete()` method.

I completely agree that using GET requests to effect deletes is a

[2019-08-12 18:20] riddlemd commented on #6158
When using RouteBuilder::resources() you are correct -- but if they implement their own restful (or restlike) routing the example WILL accept a GET request, I just found it inconsistent with the other methods (add and edit) both check for POST/PUT.

[2019-08-12 18:26] riddlemd commented on #6158
It makes sense in context of the `RouteBuilder::resources()`, but if someone implements their own routing (for whatever reason) the example code will present issues -- just something to be mindful of as the `RouteBuilder::resources()` is only mentioned as a quick way, not a prefered way in the documentation.

A simple DELETE/POST/PUT check would alleviate a LOT of pain for some unweary soul down t

[2019-08-12 19:42] markstory commented on #6158
Pull request open now.

[2019-08-12 19:42] #6158 closed

[2019-08-13 01:45] #6162 closed

[2019-08-13 02:05] markstory commented on #6160
Fixed in cakephp/cakephp-api-docs#67e7790b6e79e8124ad7f3e6698940ea8e027ef3

[2019-08-13 02:05] #6160 closed

[2019-08-13 15:18] mehov commented on #6160
Yep, seeing it already. Thank you! :)

[2019-08-19 12:00] dereuromark commented on #6075
Will this go into core? Otherwise we would need to add it to Shim plugin, but then only a few people will have this warning.

[2019-08-19 15:54] sra122 opened #6170 "Docker for Cakephp"
**Issue Description**

Docker setup for the Cakephp is not documented.

---

**Do you want to address this issue?**

[2019-08-19 19:50] markstory commented on #6170
Are you looking for a base image for development or for production?

[2019-08-19 20:11] sra122 commented on #6170
development

[2019-08-20 02:17] markstory commented on #6170
One reason we don't provide docker images for development is because folks need databases, caching and the combinations of those requirements become too complicated for us to reasonably manage.

[2019-08-20 02:19] markstory commented on #6075
I can add a deprecation.

[2019-08-20 02:44] #6075 closed

[2019-08-20 20:36] jberger opened #6175 "FixtureInjector phpunit.xml documented in wrong location"
**Issue Description**

It seems that I also inherited a codebase that hadn't used `bake` to build its test architecture and I had the hardest time figuring out how to get the fixtures to work as documented. After much digging I found the right answer only to be surprised to find that it was in the testing documentation all along, only under a seemingly unrelated section.

What I needed was the php

[2019-08-20 22:49] assunluis80 opened #6176 "Problem Uploading the EPUB file to e-Readers."
The EPUB version (CakePHP.epub) which can be downloaded from https://book.cakephp.org/3.0/en/index.html it's not working on Google Play Books, Bookari, eBoox, AIReader and several others e-Book readers.

On the Google Play Books page for troubleshooting uploading: https://support.google.com/googleplay/answer/3097151, they suggest to validate the cause of the unavailability to upload, using the fol

[2019-08-22 13:27] ravage84 opened #6177 "How to Test a Plugin utilizing a test_app is not documented"
The current [plugin testing section](https://book.cakephp.org/3.0/en/development/testing.html#creating-tests-for-plugins) of the book, does not showcase how to test parts of a plugin that can only be tested thoroughly utilizing a [test app](https://github.com/cakephp/cakephp/tree/bbd4abe94c6c6c0b86af19b66beb750e32a69d9b/tests/test_app), such as the CakePHP built-in tests use.

Having such a docume

[2019-08-22 13:29] dereuromark commented on #6177
Please include Routing part as well :) for such thing

[2019-08-23 05:40] mehov opened #6178 "Could be a typo on /3.8/class-Cake.ORM.Query.html#_identifier"
https://api.cakephp.org/3.8/class-Cake.ORM.Query.html#_identifier

Should this not be `$query->newExpr()`?

[2019-08-23 05:41] mehov commented on #6178
If needed, I can edit and commit

[2019-08-23 18:33] lorenzo commented on #6178
Yes, your suggestion is correct. Please send a correction :)

[2019-08-23 18:33] #6178 closed

[2019-08-28 16:51] rudy1976s opened #6181 "Bug in elastic search docs"
In Cake book under elastic search doc the is a broken link :

https://github.com/cakephp/elastic-search/blob/master/src/FilterBuilder.php

[2019-09-12 08:19] karmicdice opened #6189 "4.x File input example should be in sync with Zend Diactoros?"
As in : https://book.cakephp.org/4.0/en/views/helpers/form.html#creating-file-inputs

It shows:

[code]

Rather it should be :

    $destination = <Path to upload> . $data['field']->getClientFilename()
    $data['field']->moveTo($destination)

Investigated the change based on Based on :

![Image of beta update](https://i.imgur.com/PVbObEg.png)

Please let me know if we should be using Zend Diactor

[2019-09-12 13:32] raul338 opened #6190 "onlyIds needs a call example"
The [Converting BelongsToMany Data](https://book.cakephp.org/3.0/en/orm/saving-data.html#converting-belongstomany-data) section describes a `onlyIds` option.
But it does not clarify in which call it should be (`$table->belongsTo`? `$table->patchEntity`? `$table->save`?)

The only reference I could find in the source code is in [Marshaller::merge()](https://api.cakephp.org/3.8/class-Cake.ORM.Marsha

[2019-09-14 15:39] karmicdice commented on #6189
Made it more instructured keep `$this->request->getData(field)` instead of the the usual `$data['field']`

[2019-09-15 15:41] #6190 closed

[2019-09-15 23:35] markstory commented on #6189
Closing as there is a pull request open now.

[2019-09-15 23:35] #6189 closed

[2019-09-17 02:07] #6017 closed

[2019-09-17 17:12] hydraheim opened #6194 "The 4.0 Docs on PaginatorHelper->counter is wrong"
**Issue Description**

[The docs on PaginatorHelper's counter method](https://book.cakephp.org/4.0/en/views/helpers/paginator.html#creating-a-page-counter) (4.0, possibly also 3.0) is wrong. The docs state:

[code]

However, using an array as the first input raises an ArgumentCountException:

`Argument 1 passed to Cake\View\Helper\PaginatorHelper::counter() must be of the type string, array given.

[2019-09-17 17:21] dereuromark commented on #6194
This is only relevant to 4.x: https://github.com/cakephp/cakephp/compare/4.x#diff-9331fd78b8c7f46ba39642f792749d81R718

[2019-09-19 01:51] markstory commented on #6194
Thanks :+1:

[2019-09-19 01:51] #6194 closed

[2019-10-02 18:11] othercorey commented on #6170
They'd need to publish a docker compose file along with the cakephp dev dockerfile at a minimum.

Running multiple main processes in a single container is wrong and would require much more work to write/maintain.

[2019-10-04 14:46] MayMeow commented on #6170
I using docker to run cakephp from to time to time :) Here is how my configs looks like. https://github.com/MayMeow/docker-for-cakephp Maybe it can help

[2019-10-04 15:23] inoas commented on #6170
Here is my take https://github.com/htstudios/cakephp-docker-compose-box
Features Nginx FPM CLI/Bash Redis Memcached Postgres MariaDB Mailhog

[2019-10-06 14:36] othercorey opened #6212 "Certificate expired for book.cakephp.org"
It looks like the certificate expired October 05, 2019.

Start: (October 5, 2016, 12:00:00 AM GMT)
End: (October 5, 2019, 11:59:59 PM GMT)

[2019-10-06 15:39] markstory commented on #6212
Thanks for the issue. It is something we are working on resolving. Unfortunately only a few people have access to the web server configuration and they've been hardish to get a hold of.

[2019-10-06 19:18] #6212 closed

[2019-10-06 19:19] josegonzalez commented on #6212
This has been resolved by provisoning an updated certificate. Thanks for the report.

[2019-10-06 19:34] dereuromark commented on #6212
See u again Sunday, September 26, 2021 :)

[2019-10-10 02:14] othercorey commented on #6176
@markstory After updating to sphinx 1.8.5 and enabling HTML5 output (default in sphinx 2.x), I re-ran the validator.  Most of the errors are due to invalid ids generating from the php classes.

[code]

[code]

[2019-10-11 18:40] sitedyno opened #6215 "Dispatcher is deprecated. You should update your application to use the Http\Server"
**Issue Description**

As indicated [here](https://github.com/cakephp/cakephp/blob/3.next/src/Routing/Dispatcher.php#L28) Dispatcher is deprecated in 3.6

I can't find any mention of the Dispatcher [here](https://book.cakephp.org/3.0/en/appendices/3-6-migration-guide.html)

Is this deprecation actually addressed [here?](https://book.cakephp.org/3.0/en/appendices/3-3-migration-guide.html#psr-7-midd

[2019-10-11 23:56] markstory commented on #6215
Yes. The http/server code was added in 3.3, and the dispatcher was deprecated much later.

Are you looking for how to update your application?

[2019-10-12 01:24] sitedyno commented on #6215
Yes.

The end result is you have to used middleware in 4.0?

[2019-10-12 03:59] markstory commented on #6215
The migration guide for [3.3](https://book.cakephp.org/3.0/en/appendices/3-3-migration-guide.html#psr-7-middleware-support-added) included a section on updating with links to the [step-by-step process](https://book.cakephp.org/3.0/en/development/application.html#adding-http-stack).

I update the 3.6 migration guide with links to guide as well.

[2019-10-12 04:02] #6215 closed

[2019-10-14 05:12] othercorey commented on #6176
@markstory I took at look at the phpdomain code, but I'm not sure what generates this id string. There are multiple places that have the "'namespace-' + name" format.

[2019-10-17 12:59] LuizMarin opened #6221 "cake brazil comunity not exists"
This is a (multiple allowed):

* [x] bug

### What you did

This link does not work. You are pointing to a page in "canada" that has nothing to do with us.

![erro4](https://user-images.githubusercontent.com/50879411/67010679-80ff9300-f0c4-11e9-8ca6-af268ea2db97.png)

![image](https://user-images.githubusercontent.com/50879411/67010841-d6d43b00-f0c4-11e9-93ee-e11ddb9203af.png)

[2019-10-23 08:10] othercorey commented on #6153
This should be working now.

https://api.cakephp.org/

[2019-10-23 14:07] #6153 closed

[2019-10-24 04:18] othercorey commented on #4832
Considering that 404 doesn't work properly at all at the moment, might as well redirect to the summary page of the select version for html requests.

[2019-10-24 17:30] othercorey commented on #5891
Just to offer another opinion, I think using either 4.x or just 4 makes the most sense.

If you have a minor version in the URL, people might try to change it to their version.  Currently, the 404 is a mess and will confuse them.

You could use /latest/ but /4.latest/ still implies there is another version out there.

[2019-10-24 17:44] ADmad commented on #5891
My vote is for just `/4`.

[2019-10-24 19:02] saeideng commented on #5891
:+1:  to 4.x

just should done  before other release :)

[2019-10-24 19:24] othercorey commented on #5891
So...

Redirects:
`/2.0/` > `/2/`
`/3.0/` > `/3/`

Add:
`/4/`

Or...

Redirects:
`/2.0/` > `/2.x/`
`/3.0/` > `/3.x/`

Add:
`/4.x/`

For latest, there are several examples.  Here is an example from postgres that does use a `/current/` url. However, it does not redirect the URL to /12/ instead keeps the url as /current/.

Version 12 is very new and most people aren't using it, but it is 'current'.
h

[2019-10-24 20:46] markstory commented on #5891
I'm good with `/2/`, `/3/` etc. As long as we include redirects for the existing URLs.

[2019-10-24 23:01] othercorey commented on #5891
@markstory are you running different nginx instances for each book version?

[2019-10-25 01:26] markstory commented on #5891
@othercorey Yes. Each book instance runs in their own docker container, and then there is a top-level nginx that routes across the containers. I can take care of the top level nginx configuration as it isn't a public repository if someone gets the version containers updated.

[2019-10-26 04:29] othercorey commented on #6138
I would not expect every code sample to have a link to the api documents.  It's just not feasible with the code formatter.

A static badge would be too hard for anyone to find.  I think just putting a link to the API docs on the nav bar would work.  It would have to link to latest point release of the major version.

Then a note on the Welcome page explaining that you'd start with the cookbook and

[2019-10-29 12:57] dereuromark opened #6242 "Missing event stop propagation docs"
I was following https://book.cakephp.org/3.0/en/orm/behaviors.html#defining-event-listeners
but not for behaviors, but for a table

Just doing documented (for behavior beforeSave):
[code]
didnt work

I had to manually find out that one needs to add
[code]
inside my Table's beforeSave().

Is this specific to tables and just documented yet?

[2019-10-29 13:26] ADmad commented on #6242
Looking at this code just stopping the event should be enough to stop the save.

https://github.com/cakephp/cakephp/blob/9c8f6728a2f9cfbf8f77332e55f18fc9b93167ec/src/Event/EventManager.php#L329-L334

Only thing is if you don't return false from the callback or explicitly set the even result `Table::save()` will return `null` instead of the documented `false` or entity.

[2019-10-30 19:35] saeideng commented on #5891
thank you

[2019-10-30 19:35] #5891 closed

[2019-11-01 20:36] othercorey commented on #5801
I noticed this was working now.  Perhaps it's the change to use `3-0` instead of `3-next` search index?

https://github.com/cakephp/docs/commit/23b42113640653045debe7d0f44856ec074dcd73

I just happened to notice the weird 3-next search index working on a separate change and wondered if it was right.

[2019-11-02 01:56] #5801 closed

[2019-11-04 00:12] dereuromark commented on #6155
Now refs https://github.com/cakephp/cakephp/pull/13621

Anything interesting in clarifying this and its use case?

[2019-11-04 09:19] #6242 closed

[2019-11-06 05:44] othercorey opened #6252 "4.x - Search for Commands shows old and new url"
The URL for Console Commands changed when the files were re-organized.

It looks like the search cache still has the old reference and returns it along with the new reference.  The old reference takes you to a 404 page because it is now invalid.

![console](https://user-images.githubusercontent.com/24221186/68271431-14721700-0026-11ea-83f1-059778c1f97f.png)

[2019-11-06 11:17] markstory commented on #6252
I went into elasticsearch and removed the naughty document.

[2019-11-06 11:17] #6252 closed

[2019-11-07 12:46] diden78 opened #6256 "French epub version of the cookbook is not available"
Hello,

French epub version of the cookbook is not available.
The link is : https://book.cakephp.org/3/_downloads/fr/CakePHPCookbook.epub
But we get error 404

Thanks
BR

[2019-11-07 12:57] garas commented on #6256
File is available at https://book.cakephp.org/3/_downloads/fr/CakePHP.epub

Link is invalid.

[2019-11-07 13:02] #6256 closed

[2019-11-07 13:07] diden78 commented on #6256
Ok thanks,

I guess you will fix the link in the website !

BR

[2019-11-07 20:22] kromodoro commented on #6221
Today reading in the documentation, I realize this. So I decided to remove the link

[2019-11-07 21:26] dereuromark commented on #6221
https://github.com/cakephp/docs/pull/6261

[2019-11-07 21:26] #6221 closed

[2019-11-08 00:54] othercorey opened #6263 "Migrations page points to URL that doesn't exist"
**3.x**
https://book.cakephp.org/3/en/migrations.html

points to

https://book.cakephp.org/migrations/2//index.html

**4.x**
https://book.cakephp.org/4/en/migrations.html

points to

https://book.cakephp.org/migrations/3.x/en/

[2019-11-08 02:49] markstory commented on #6263
The links in the 3.x book are fixed. The 4.x book points to a version of the docs that was never published. I'll get that fixed up.

[2019-11-08 04:44] markstory commented on #6263
Migrations v3 docs are published now.

[2019-11-08 04:44] #6263 closed

[2019-11-11 20:57] p2sousa opened #6269 "Link Plugin [ElasticSearch] loading to Welcome Nginx"
**Issue Description**

Clicking on the Elasticsearch Menu Item loads a default Nginx page.
I noticed that the url is missing the language indication.

Expected Link: [https://book.cakephp.org/elasticsearch/2/en/index.html](https://book.cakephp.org/elasticsearch/2/en/index.html)
Current Link: [https://book.cakephp.org/elasticsearch/2//index.html](https://book.cakephp.org/elasticsearch/2//index.html

[2019-11-15 15:03] arbims commented on #6075
@markstory
hello i want to ask if the documentation for cakephp4 is rady
i can create my website with this version ??
thnx

[2019-11-19 12:08] #6170 closed

[2019-11-19 16:17] markstory commented on #6269
Fixed now!

[2019-11-19 16:17] #6269 closed

[2019-11-21 14:26] #4832 closed

[2019-12-04 00:06] othercorey opened #6295 "4.x - Migration guide missing link to Upgrade guide"
Dropping this issue to track as I don't have time to fix right now.

https://book.cakephp.org/4/en/appendices/4-0-migration-guide.html

The upgrade guide is mentioned with a path but there no link.

[2019-12-04 04:27] #4433 closed

[2019-12-04 04:33] #4543 closed

[2019-12-04 04:36] othercorey commented on #4552
What should this be?

[2019-12-04 04:37] #4317 closed

[2019-12-04 04:39] #4299 closed

[2019-12-04 04:39] #4105 closed

[2019-12-04 04:39] #3808 closed

[2019-12-04 04:40] #3989 closed

[2019-12-04 04:40] #3253 closed

[2019-12-04 04:41] #4057 closed

[2019-12-04 04:42] othercorey commented on #5338
Is this ok now?

[2019-12-04 04:46] #6295 closed

[2019-12-04 05:07] othercorey commented on #5596
Closing as translation files are setup. Just submit PR to update.

[2019-12-04 05:07] #5596 closed

[2019-12-04 05:27] othercorey commented on #5337
Should we remove the example?

[2019-12-04 14:07] #5338 closed

[2019-12-04 22:24] #4318 closed

[2019-12-05 10:33] othercorey opened #6301 "4.x - Need update Table::newEntity() examples to newEmptyEntity()"
These examples will not produce a deprecation warning, but a PHP error.

Example:
https://book.cakephp.org/4/en/orm/saving-data.html#inserting-data

[2019-12-05 10:39] dereuromark commented on #6301
I can take care of this.

[2019-12-05 10:49] dereuromark commented on #6301
https://github.com/cakephp/docs/pull/6302

[2019-12-05 10:49] #6301 closed

[2019-12-05 11:23] othercorey opened #6303 "Fix Query::distinct() examples that pass in Table instance."
https://book.cakephp.org/3/en/orm/retrieving-data-and-resultsets.html#using-innerjoinwith

https://book.cakephp.org/3/en/orm/query-builder.html#using-innerjoinwith

[code]

[2019-12-05 17:50] #5337 closed

[2019-12-05 21:25] #4361 closed

[2019-12-05 23:12] #3882 closed

[2019-12-06 10:16] #3378 closed

[2019-12-06 10:16] #3588 closed

[2019-12-06 10:17] #3669 closed

[2019-12-06 12:31] davidyell opened #6307 "Missing callable function parameters"
**Issue Description**

https://book.cakephp.org/3/en/core-libraries/validation.html#allowing-empty-fields

This page doesn't include any information, that I can find, about the callable 'when' function parameters, or an example.

---

**Do you want to address this issue?**

No.  I wouldn't know what to document.

[2019-12-06 12:55] garas commented on #6307
https://book.cakephp.org/3/en/core-libraries/validation.html#conditional-validation

[2019-12-06 14:09] davidyell commented on #6307
Perhaps a cross link can be added to the empty fields section to allow users to follow on through the docs?

[2019-12-06 14:13] dereuromark commented on #6307
It would be nice if the docs examples always contained all typehints :) That would make it clear, right?

[2019-12-07 03:52] #6307 closed

[2019-12-07 23:54] othercorey opened #6313 "4.x - Clarify in upgrade guide that rector commands should run before requiring cakephp 4.0"
This should have the same notes before the commands as the upgrade readme.  Users probably won't see that require is at the bottom because it should happen last.

https://book.cakephp.org/4/en/appendices/4-0-upgrade-guide.html

[2019-12-08 15:34] dereuromark commented on #6313
I actually ran them afterwards and it also kind of worked for me. on some plugins.

[2019-12-08 18:38] othercorey commented on #6313
I'm not actually familiar with the issues you cause if running after.  But, considering it's important want to make sure we consistently call it out early.

[2019-12-09 00:11] othercorey commented on #6313
Example: https://github.com/cakephp/upgrade/issues/128#issuecomment-563010181

[2019-12-09 00:19] niel commented on #6313
@othercorey you misunderstood my reply. I updated my CakePHP and dependencies to latest *current* versions which is still CakePHP 3.8, as 4 is still only an RC. I've updated my reply to clarify that.

[2019-12-09 00:20] othercorey commented on #6313
Thanks for the clarification.  We'll still try to improve the docs!

[2019-12-09 18:58] othercorey commented on #6313
Fixed in https://github.com/cakephp/docs/pull/6316.

[2019-12-09 18:58] #6313 closed

[2019-12-10 02:48] ADmad commented on #4552
In order to achieve the desired result one needs to use a subquery similar to this https://gist.github.com/ADmad/0a451d837f019edf3447.

[2019-12-10 02:54] othercorey commented on #4552
Using a `limit()` clause in the queryBuilder query seems to work.

[2019-12-10 12:57] blieb opened #6317 "Cakephp 3.x migrations is in 2.x cookbook"
Hi, I was checking the cakephp migrations command, but was unable to find it. However I did find it in the 2.x cookbook. But the commands are actually for 3.x. I think this needs to be moved to 3.x cookbook.

You can find it at:
https://book.cakephp.org/migrations/2/en/index.html#

---

**Do you want to address this issue?**
I'm not sure how to move items so I think someone else can do this.

[2019-12-10 13:13] ADmad commented on #6317
The `2` in the URL is version for the plugin, not CakePHP core.

There's no migrations plugin for CakePHP 2.x.

[2019-12-10 13:13] #6317 closed

[2019-12-10 13:20] dereuromark commented on #6317
Maybe we could make this a bit more clear in the headline or first paragraph or sth.

[2019-12-12 05:26] othercorey commented on #4552
Moved discussion to PR.

[2019-12-12 05:26] #4552 closed

[2019-12-17 21:59] othercorey commented on #6317
The header is:

`CakePHP 4.x Strawberry Cookbook` vs `CakePHP Migrations 3.x Cookbook`

Maybe it should be `CakePHP 3.x Migrations Plugin Cookbook`

[2019-12-18 18:46] jimbo2150 opened #6334 "4.0 Missing Chronos Docs (404)"
**Issue Description**

The link to the Chronos docs in the CakePHP 4.0 cookbook is https://book.cakephp.org/chronos/2/ under the Plugins -> Chronos side navigation but that link returns a 404 (Not Found) error.

[2019-12-18 19:58] markstory commented on #6334
I can get this fixed.

[2019-12-19 01:28] markstory commented on #6334
Thank you for letting us know about this. It is fixed now.

[2019-12-19 01:28] #6334 closed

[2019-12-20 05:48] othercorey opened #6342 "Python 2.7 is end-of-life"

[2019-12-20 05:52] othercorey opened #6343 "Removing unmaintained/unfinished translations"
With CakePHP 4.0 released, I think it might be time to prune some of the non-maintained translations. Several of them have large sections missing from even CakePHP 3.

[2019-12-20 08:10] #6342 closed

[2019-12-24 01:53] othercorey opened #6359 "cakephptheme and sphinx 2.2 causes <p> tags in lists"
When upgrading to sphinx 2.2, the list items are all wrapped in paragraph tags which causes extra spacing.

![sphinx-22-list](https://user-images.githubusercontent.com/24221186/71388388-bd1c0c00-25bd-11ea-8e89-29c46c2fc935.png)

[2019-12-24 03:03] othercorey opened #6360 "Use literal script tags in cakephptheme"
Modifying script list in theme template is deprecated in sphinx 2.

writing additional pages...  search/usr/local/lib/python3.5/dist-packages/cakephpsphinx/themes/cakephp/search.html:20: RemovedInSphinx30Warning: To modify script_files in the theme is deprecated. Please insert a <script> tag directly in your theme instead.

[2019-12-24 03:52] markstory commented on #6359
This is likely a change in docutils. We will have to update our CSS.

[2019-12-24 04:07] othercorey commented on #6359
Both versions are using docutils 0.15.2, so I'm not sure where the change happened.

[2019-12-24 04:13] markstory commented on #6359
Could be in sphinx then. Either way we'll need to update our CSS :smile:

[2019-12-24 10:02] dereuromark opened #6361 "Loading plugins"
https://book.cakephp.org/4/en/console-commands/plugin.html#loading-plugins
Could sure need some update, as this is not done via bootstrap anymore.

Also for latest 3.x technically true.

[2019-12-24 16:17] LuizMarin opened #6365 ""Expected type 'array'. Found 'string'." in /vendor/cake...src/View/Helper/FormHelper.php"
**Issue Description**

Intelephense reports error at this location

![image](https://user-images.githubusercontent.com/50879411/71419648-37e13780-264f-11ea-86f2-be124ee76df4.png)

---

[2019-12-24 16:43] garas commented on #6365
There is `is_array` check one line above, `$options` is defined as generic `array`, not `string[]` or something.

This is issue with Intelephense how it guesses variables types, not issue with CakePHP.

[2019-12-24 17:04] LuizMarin commented on #6365
thanks you

[2019-12-24 17:04] #6365 closed

[2019-12-25 18:06] #6343 closed

[2019-12-26 21:17] #6303 closed

[2019-12-28 03:23] jimbo2150 commented on #5595
@dereuromark pointed out in Slack that RouteCollection has a compatible parse method `Router::getRouteCollection()->parse($url)` and is what was called by the `Router::parse()` method in 3.x.

[2019-12-28 10:33] swiffer opened #6377 "How to Test Mailer"
**Issue Description**

The docs about testing mailers seem to be incomplete.

https://book.cakephp.org/4/en/core-libraries/email.html#testing-mailer

**Do you want to address this issue?**

Don't know how.

[2019-12-28 13:33] markstory commented on #5595
@jimbo2150 Thanks for providing that. I think that API is good enough based on how often parsing string URLS is done.

[2019-12-28 13:33] #5595 closed

[2019-12-28 13:35] markstory commented on #6377
What extra information are you looking for? Would having an example test method showing some of the assertions help?

[2019-12-28 13:41] swiffer commented on #6377
The assertions are fine. But how to i set up a TestCase for a Mailer. When testing as part of a Controller action it's working but having a separate test case just for a mailer my tests currently fail because CakePHP does not find a route to the URL i want to build in the template. So basically: setting up a Mailer TestCase :)

[2019-12-28 13:44] jimbo2150 commented on #5294
Looks like this is already added: https://book.cakephp.org/3/en/orm/query-builder.html#binding-values

[2019-12-28 17:37] #5294 closed

[2019-12-28 19:28] markstory commented on #6361
Fixed in 4c30d14d8d13e229486e09f9bd819f7376b15653

[2019-12-28 19:28] #6361 closed

[2019-12-31 00:30] andraskende opened #6380 "cakephp 4.x some docs with authentication are for 3.x"
cakephp 4.x some docs with authentication are for 3.x

Preface -> Tutorials & Examples -> CMS Tutorial - Authentication
https://book.cakephp.org/4/en/tutorials-and-examples/cms/authentication.html

searching for 'blog'
https://book.cakephp.org/4/en/tutorials-and-examples/blog-auth-example/auth.html

Thanks,
Andras

[2020-01-03 03:13] markstory commented on #6380
These tutorials aren't necessarily for 3.x they are using `AuthComponent` which while deprecated is still around in 4.x. Updating these tutorials to use the new plugins will take some time as the changes are significant.

[2020-01-07 16:34] BGehrels opened #6398 "Document that session cookies are now SameSite=Strict"
**Issue Description**
When upgrading from CakePHP3 to CakePHP4, the integration with our external SSO solution broke, but there was no hint in the update/upgrade documentation why.

What do we do?
- User opens our app
- We see that there is no authentication data for the user in the session yet
- We redirect user to an external SSO provider `https://externalProvder/login`
- After Login, the extern

[2020-01-08 02:12] markstory commented on #6380
Closing this as the CMS tutorial has been updated to use the new plugins. The other tutorials aren't less easy to find and might be removed in the future.

[2020-01-08 02:12] #6380 closed

[2020-01-08 22:59] markstory commented on #6398
Perhaps we should change the default setting to Lax to help with the side note problem.

[2020-01-08 23:14] dereuromark commented on #6398
Hah, GitHub cant get it done right either..^^

If you look into the chrome debug bar here..

But on a more serious note:

is also issued by chrome - and doesn't that mean adapting this by default for us would also make sense?

[2020-01-09 02:43] markstory commented on #6398
We can't set the `Secure` flag on cookies as we can't ensure that the application is behind an SSL connection.

[2020-01-09 11:10] BGehrels commented on #6398
@dereuromark From what i understand from [this site](https://www.chromium.org/updates/same-site) the message is a bit misleading, it sounds more like:

Cookies flagged with `SameSite=None` will be rejected, if the are not *also* flagged with `Secure`. I don't think this will affect the Behaviour of `SameSite=Lax` cookies

[2020-01-09 11:21] ADmad commented on #6398
Is the scenario described is "Side Note" common enough? Don't links to protected content in email generally have tokens in URL itself for authentication?

[2020-01-09 11:49] BGehrels commented on #6398
I would say so, especially since most webapps i use have a "Keep me signed in" feature - i rarely even recognize that i'm browsing protected content.

Especially in office settings, literally all content is protected and "Sharing" content by Link is quite common: "Could you have a look at this customer order $link? In Support Ticket $Link the customer says she didn't receive the package but our lo

[2020-01-09 12:14] ADmad commented on #6398
Okay, I am fine changing the default to `Lax` in that case.

[2020-01-11 00:15] dereuromark commented on #6177
The stale bot is not helpful here IMO. The docs wont get better if those valid issues just get closed.

[2020-01-11 01:13] ravage84 commented on #5867
Issue is still valid

[2020-01-11 01:16] ravage84 commented on #5577
Still valid

[2020-01-11 21:33] BGehrels commented on #6398
It's really great how fast you act on user feedback, thanks a lot!

[2020-01-11 21:51] BGehrels opened #6408 "Migration docs don't document changed Table name inflection"
**Issue Description**
https://github.com/cakephp/cakephp/commit/4b6806379c45436a051a1fb65eea8be8c143f132#diff-2aa3ae5dc64d2182b7096ee758ba5e1a changed the inflection behaviour of `TableLocator`. This is a non backwards compatible chnge that is not documented in the migration docs

Why is it an issue? Because cake returns a default table class when no explicit one has been found. So you end up havi

[2020-01-12 01:32] #6398 closed

[2020-01-12 02:14] markstory commented on #6408
Pull request open now.

[2020-01-12 02:14] #6408 closed

[2020-01-14 01:54] raisha99 opened #6411 "User Guide - Quick Start Guide - Adding Simple Slug Generation"
Hi there.  It is probably just me, but...following the quick start user guide, I am up to:

// src/Model/Table/ArticlesTable.php

The code provided is this:
[code]
The next step identified is adding the simple slug

When I change the articlesTable.php to match the example:
[code]

// Add the following method.
[code]
 I get an error at the public function line...

"syntax error, unexpected T_PUBLIC

[2020-01-14 02:22] markstory commented on #6411
What does the current state of your ArticlesTable look like?

[2020-01-14 02:33] dereuromark commented on #6411
I would recommend looking into the plugins that ship slugging: https://github.com/FriendsOfCake/awesome-cakephp#seo

[2020-01-14 16:43] garas commented on #6411
Back on the original question:

`syntax error, unexpected T_PUBLIC` means you put `public function` in wrong location.

`public function beforeSave()` must be put inside `class ArticlesTable extends Table { }`, not outside.

[2020-01-14 16:46] dereuromark commented on #6411
This is not a help forum. The ticket tracker is reserved for possible
bugs and feature enhancements to the CakePHP framework. If you are
looking for help on how to implement a feature or to better understand
how to use the framework correctly, please visit one of the following:

[The CakePHP Manual](http://book.cakephp.org)
[The CakePHP online API](http://api.cakephp.org)
[CakePHP Official Forum](

[2020-01-14 16:46] #6411 closed

[2020-01-15 20:01] Marty commented on #6176
I also just ran into this issue. The current version is still rejected by all common epub readers :(

[2020-01-15 20:03] othercorey commented on #6176
@Marty Can you give me an example of an epub reader that doesn't load? I tested a couple free e-readers and they were able to load it.

[2020-01-15 21:27] Marty commented on #6176
Google books for example. Also validator.idpf.org shows many errors.

[2020-01-16 02:03] markstory commented on #6176
I downloaded a file tonight and was able to open it in MacOS Books. There are quite a few validation errors in the output of validator.idpf.org. Some are coming from the sphinx base templates. We are working on an upgrade to sphinx, hopefully that helps solve some of these problems.

[2020-01-16 03:25] #6377 closed

[2020-01-24 15:29] TheFrenchCoder opened #6423 "Docuentation Phinx Non Exist"
**Issue Description**

The page [Phinx Doc on Cake PHP](https://book.cakephp.org/3/en/phinx.html) didn't work.
And I need to set-up phinx on my project ^^

Have a good day

[2020-01-24 19:02] markstory commented on #6423
The docs have been moved to https://book.cakephp.org/phinx/0/en/index.html

[2020-01-24 19:02] #6423 closed

[2020-01-26 00:01] #5903 closed

[2020-01-26 00:01] #5989 closed

[2020-01-26 00:01] #5862 closed

[2020-01-26 00:01] #5758 closed

[2020-01-26 00:01] #5703 closed

[2020-01-26 00:01] #5033 closed

[2020-01-26 00:01] #5692 closed

[2020-01-26 00:01] #4932 closed

[2020-01-26 00:01] #4651 closed

[2020-01-26 00:01] #4283 closed

[2020-01-26 00:01] #4484 closed

[2020-01-26 00:01] #4156 closed

[2020-01-27 00:01] #5577 closed

[2020-01-27 00:01] #5867 closed

[2020-01-27 00:28] ndm2 commented on #5577
Github bot is above the law.

[2020-01-27 04:19] saeideng commented on #5577
you can remove `stale` label add `pinned` and open issue if it closed

[2020-01-28 00:01] #4054 closed

[2020-01-28 00:01] #3690 closed

[2020-02-11 12:52] ADmad opened #6459 "The Blog tutorial shows use of deprecated AuthComponent."
https://book.cakephp.org/4/en/tutorials-and-examples/blog-auth-example/auth.html

[2020-02-13 06:42] karmicdice opened #6463 "setAttachments failing when string is passed as arg 1"
**What you did**

Using Mailer and setAttachments.
Added a string to the path as per the doc https://book.cakephp.org/4/en/core-libraries/email.html#sending-attachments
` ->setAttachments('/path/to/file.png')`

**What happened**
Argument 1 passed to Cake\Mailer\Message::setAttachments() must be of the type array, string given

**What you expected to happen**

1 Docs need to be updated.

[2020-02-13 13:45] Megslalk opened #6466 "Invalid result in search for "Find""
When typing "find" into the search of the book. First suggestion is
":orphan: True Not Found ######### The page you're looking for cannot be found. Try using the search bar to find what you're looking for." This result is en/404.html
Result should be excluded from search index.

[2020-02-13 16:19] #6463 closed

[2020-02-18 06:05] xhs345 opened #6473 "4.0 Migration upgrade guide should mention "minimum-stability": "dev""
Just spend a few hours not being able to install some dependencies and it turns out I was missing the entry

`"minimum-stability": "dev"` in composer.json

Though it would be helpful for others to add this as a note

[2020-02-22 14:39] othercorey commented on #6466
Closing this as the CakePHP 4 index builder excludes 404.rst now.  The new servers will have a clean cache built without the old 404 page in it.

[2020-02-22 14:39] #6466 closed

[2020-02-23 18:26] #6459 closed

[2020-02-29 11:14] jarekgol opened #6494 "frozen date documentation book 3.x not include version"
This is a (multiple allowed):

* [] bug
* [x ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.1

Please add green info under this: https://book.cakephp.org/3/en/core-libraries/time.html#immutable-dates-and-times
to inform users when it was added. In 3.1 it doesn't work.

[2020-03-10 13:33] othercorey commented on #6494
I don't think this is worth adding. 3.2 is very old already and almost every cakephp 3.x users has it.

[2020-03-10 13:33] #6494 closed

[2020-03-11 00:02] #6138 closed

[2020-03-12 11:40] andretefras commented on #6177
Hello guys. I will do it in the next week. As soon as I have something done I share with you to get inputs.

[2020-03-27 04:56] amayer5125 opened #6549 "CMS Tutorial - Error when updating beforeSave method"
When I copy and paste the `beforeSave` method from the [Persisting the Tag String](https://book.cakephp.org/4/en/tutorials-and-examples/cms/tags-and-users.html#persisting-the-tag-string) section I get a type error. I believe this is because we don't import `Cake\Event\EventInterface` in our initial implementation of the `beforeSave` method in the [Adding Simple Slug Generation](https://book.cakeph

[2020-03-27 05:58] #6549 closed

[2020-04-03 00:09] #5299 closed

[2020-04-03 00:11] dereuromark commented on #6473
As soon as Migrations is released as beta (last one missing along with Phinx), we only need beta, and once they all are stable, we can remove it completely.

[2020-04-03 11:14] dereuromark opened #6566 "Unclear/buggy https://plugins.cakephp.org/"
We need a more clear frontend for this, also on how to add missing packages, or to search it more manually (not through the magic search).

    https://plugins.cakephp.org/packages?query=IDE&has=shell
    https://plugins.cakephp.org/packages?query=ide&has=command

has no IdeHelper plugin, no matter what you search for.
so maybe there is also some missing and not updated.

What happened to the old

[2020-04-10 12:09] ewbarnard opened #6574 ""extending bake" instructions reference deprecated SimpleBakeTask"
The current "Extending Bake - 2.x" online documentation <https://book.cakephp.org/bake/2/en/development.html> describes using the deprecated "Shell" classes rather than the current "Command" classes in the section "Creating New Bake Command Options". The documentation fix requires more than just swapping class names; the "Command" approach is slightly different from the "Shell" approach.

**Do you

[2020-04-10 15:04] markstory commented on #6574
If you make the changes you would like to see made to the docs I can check for formatting. Building the docs can be done using `docker build -t bake-docs -f docs.Dockerfile .`. The generated container will start a webserver that serves the documentation.

[2020-04-10 15:05] markstory commented on #6574
I forgot to mention that the docs for Bake live in the cakephp/bake repository.

[2020-04-13 16:54] ewbarnard commented on #6574
Note to self: "Creating a bake theme" and "customizing bake templates" sections are also incorrect.

https://github.com/cakephp/bake/blob/master/src/Utility/CommonOptionsTrait.php#L85 looks for themes under (plugin-name)/src/Template/Bake - this appears to be a change from (plugin-name)/templates/bake. Lower-case plural "templates" became Template, both Template and Bake are now initial cap, and T

[2020-04-13 18:06] ewbarnard opened #6579 "Various unit test errors in Master"
**Issue Description**

1. Fork master.
2. composer install.
3. vendor/bin/phpunit

Problem 1: This produces numerous errors due to Plugin::load() being deprecated. That's not an easy fix because it's replaced by a non-static method of abstract class BaseApplication, which in turn expects to be part of a full CakePHP install. I'm not sure of the right approach here, given that Plugin::load() says i

[2020-04-13 18:53] ewbarnard commented on #6579
I have a stale fork from long ago. Never mind.

[2020-04-13 18:53] #6579 closed

[2020-04-13 21:20] ewbarnard commented on #6574
The theme-location issue is resolved with https://github.com/cakephp/bake/pull/675. I still need to do a documentation PR, but that comes after I've successfully created a new bake command. Hopefully tomorrow!

[2020-04-14 04:53] othercorey opened #6580 "Sessions page not included in "sessions" search results"
The sessions page should be included in search results for "sessions".

https://book.cakephp.org/4/en/development/sessions.html

[2020-04-14 05:00] othercorey opened #6581 "Update sessions db schema for postgres"
https://book.cakephp.org/4/en/development/sessions.html#database-sessions

This currently shows the schema required for mysql only.

The mysql schema should be updated to remove deprecated integer display widths as well.

[2020-04-15 01:16] markstory commented on #6580
Not sure what's going on here. The document is indexed and does show up if you search for `session.ini` I think there might be too many matches for 'session'.

[2020-04-15 01:21] othercorey commented on #6580
Is there any way to index just headers and prioritize them in the cache?

[2020-04-16 01:05] markstory commented on #6580
We do index the title separately, and the title was parsed correctly when we indexed the document. The search frontend also applies a [boost to the title](https://github.com/cakephp/search.cakephp.org/blob/master/src/Model/Index/SearchIndex.php#L49). I'm not sure why we're not getting hits. It is possible that the boost logic is broken.

[2020-04-17 13:55] burzum opened #6587 "Cake 3 docs missing description of how to change error handler class"
https://book.cakephp.org/3/en/development/errors.html#error-exception-configuration

I've tried class, className, handler, handlerClass as a key in the Error array in app.php but no success.

It's funny that the docs tell me:

But doesn't tell me how to replace the default handler.

[2020-04-18 23:53] markstory commented on #6587
This [section covers creating your own error handler](https://book.cakephp.org/3/en/development/errors.html#creating-your-own-error-handler).

[2020-04-19 08:37] wiifree opened #6590 "German Translation Skeleton Folder"
I read in the docs if a translation language does not exist one should start contact via github. can anyone create a skeleton folder for german translation for the cakephp 4 docs, please.

[2020-04-19 08:44] othercorey commented on #6590
@wiifree We are only interested in full translations. Are you going to be able to do that with a team?

[2020-04-19 08:50] wiifree commented on #6590
Ohh ok. No, I wanted to do it alone. I have seen that many translations have not been completed and I thought a few translations were better than none at all.

[2020-04-19 08:52] othercorey commented on #6590
We have problems with incomplete translations and out-dated english copied into those files.

We would like to have a simple intro page that can be translated better instead of random pages.

[2020-04-19 08:56] wiifree commented on #6590
that's bad but i understand it. so if i understand that right, no new translations are accepted on this way?

[2020-04-27 12:57] mirko-pagliai opened #6604 "4.0: App Class"
The section [Locating Plugins](https://book.cakephp.org/4/en/core-libraries/app.html#locating-plugins) should be updated or extended.

The `App::path()` method is documented, as from the CakePHP's last release, while the `Plugin::path()` method is described and exemplified.

[2020-04-27 13:50] dereuromark commented on #6604
Turns out the whole Plugin class was missing
Fixed and Added at https://github.com/cakephp/docs/pull/6606

[2020-04-27 17:30] dereuromark commented on #6590
As a fellow German I would always recommend to contribute to the primary (English) docs, to make that one more accurate and complete.
That way everyone benefits from it and we don't run into incomplete/outdated issues.

[2020-04-28 01:15] #6604 closed

[2020-05-01 13:47] #6590 closed

[2020-05-07 02:05] #6587 closed

[2020-05-15 10:12] othercorey commented on #6473
@dereuromark is this fixed now?

[2020-05-15 11:08] dereuromark commented on #6473
I would think so.

[2020-05-15 11:08] #6473 closed

[2020-05-16 10:15] fin-k opened #6640 "Cakephp 4.0 Example of Authentication"
Hi, I tried to make some basic authentication from this tutorial: https://book.cakephp.org/4/en/tutorials-and-examples/blog-auth-example/auth.html. But there is problem, on create table sql there is only username and not email, so I changed all email on the example of the source code to username. Add user works okay, but when I tried to login it showed that it has invalid username and password.

D

[2020-05-17 02:18] markstory commented on #6640
Sounds like a problem with the tutorial. I can go through it again.

[2020-05-21 03:21] #6640 closed

[2020-05-31 00:04] #6176 closed

[2020-06-09 09:48] tomcat0090 opened #6666 "Broken link in the side menu of the Japanese version (authorization, authentication in plugin)"
The link is broken, in the side menu of the Japanese version.
The English version is linked correctly.
I would like to fix it, but I don't know the correct link.

https://book.cakephp.org/3/ja/index.html

[2020-06-09 11:08] garas commented on #6666
There is only English docs for [authorization](https://github.com/cakephp/authorization/tree/master/docs) and [authentication](https://github.com/cakephp/authentication/tree/master/docs).

You can fix left menu at https://github.com/cakephp/docs/blob/3.x/ja/contents.rst

[2020-06-10 01:50] #6666 closed

[2020-06-10 11:57] steinkel opened #6668 "Add a lang attribute to improve indexing of the pages"
**Issue Description**

Searching for book related contents in duck retrieves the same page for different languages

https://www.w3.org/International/questions/qa-html-language-declarations

Adding the lang attribute would possibly help to filter the language and provide better results.

---

**Do you want to address this issue?**

Maybe

[2020-06-11 05:59] nosvazquez opened #6670 "The Blog Tutorial - Authentication does not show how to install the "Authentication Plugin"."
The Blog Tutorial - Authentication does not show how to install the "Authentication Plugin". It assumes that the user has the plugin.

I followed the tutorial and I got some errors, I wasted my time searching why those errors and I found that just was I did not have the "Authentication Plugin" installed...

This article show how to install and how to add the plugin to the boostrap method, please a

[2020-06-11 20:37] markstory commented on #6670
Which page in the book are you referring to? The blog tutorial is not longer the primary tutorial used in the 4.x docs, and I'm not familiar with what bookstack.cn is.

[2020-06-11 21:22] nosvazquez commented on #6670
https://book.cakephp.org/4/en/tutorials-and-examples/blog-auth-example/auth.html#adding-authentication, well, this page disappears in the left menu about tutorials and examples and I hadn't noticed because I was clicking next... next... buttons at the footer.

But that post needs to add the part that says how to add the plugin in src/Application.php inside boostrap() with $this->addPlugin('Authent

[2020-06-12 02:09] #6670 closed

[2020-06-13 12:43] ADmad commented on #6668
Manual for CakePHP core already seems to have `lang` attribute with proper values for the `<html>` tag. It's the manuals for the plugins/standalone package which need to be fixed. They current all seem to have `<html xmlns="http://www.w3.org/1999/xhtml">`. The `xmlns` attribute should also be not present.

[2020-06-13 13:12] markstory commented on #6668
I added the lang attribute to the book and forgot to comment back here. I can update the plugin sites as well.

[2020-06-17 03:27] markstory commented on #6668
The base image for the plugin sites has been updated. As those sites are updated they will get the new lang attribute.

[2020-06-17 03:27] #6668 closed

[2020-06-26 19:28] hakito opened #6685 "Wrong Namespace for Command"
The https://book.cakephp.org/4/en/console-commands/commands.html refer to namespace

Cake\Console

but it seems it is now

Cake\Command

- Also the linked CMS tutorial uses the old namespaces.
- Also the migration guide does not mention this breaking change

---

I would not like to work on this issue.

[2020-06-26 20:17] #6685 closed

[2020-06-30 19:34] holginaut opened #6688 "CMS Tutorial "Articles-Controller" in 4.x/en"
Hello,

i just tried the Cake 4.x CMS Tutorial "Articles-Controller" (https://book.cakephp.org/4/en/tutorials-and-examples/cms/articles-controller.html) and it might be that there are some problems:

1. public function beforeSave [...] ends up in unexpected syntax error if function is public

2. public function validationDefault [...] also ends up in unexpected syntax error if function is public

[2020-06-30 20:10] garas commented on #6688
It is expected developer to have basic PHP knowledge.

`public/protected/private` before `function` suggests it is class method.

`public function beforeSave()` and `public function validationDefault()` should be put inside of `class ArticlesTable extends Table { }`.

After that, 3 will be OK too.

[2020-07-01 06:01] holginaut commented on #6688
Hey garas,

thank you, that was it.

On Page https://book.cakephp.org/4/en/tutorials-and-examples/cms/database.html they told how to create ArticlesTable.php and on the next Page https://book.cakephp.org/4/en/tutorials-and-examples/cms/articles-controller.html at "Adding Simple Slug Generation" i thought i had to change it to what there is and so i removed the part with "class ArticlesTable extend

[2020-07-01 06:01] #6688 closed

[2020-07-15 02:41] bjazmoore opened #6702 "Documentation error- tutorial setting up database - need to define database in config/app_local.php"
Documentation error- tutorial setting up database - need to define database in config/app_local.php

The tutorial on page https://book.cakephp.org/4/en/tutorials-and-examples/cms/database.html at the bottom instructs the user to "Datasources.default array in your config/app.php file".  It appears that the update must be made in the file config/app_local.php.  If config/app_local.php is not updated

[2020-07-18 09:58] drtrppr opened #6707 "Link 'chronos' in footer of 'Using CakePHP' directs to moved page."
**Issue Description**
In the footer of https://book.cakephp.org/4/en/topics.html , the 'chronos' button gives https://book.cakephp.org/4/en/chronos.html .

But apart from the redirect, is it correct to direct to the chronos-page? https://book.cakephp.org/4/en/intro.html# seems more in place at this point?

Or maybe the welcome-page has to link to the intro-page, and the topics-page is an overview

[2020-07-18 16:32] ironbone opened #6708 "session.cookie_lifetime - wrong explanation"
In the book we have following
[code]
This is wrong because the Session cookie will be invalidated after 30 minutes even if we reload/interact with the page.

[2020-07-18 17:45] markstory commented on #6707
I don't understand which page you're referring to with 'welcome-page' and 'intro-page' do you have links?

The footer link you've mentioned is automatically generated by our documentation tool. I don't think there is a way for us to omit that link without removing the page entirely which could break links elsewhere on the internet.

[2020-07-18 21:21] drtrppr commented on #6707
Welcome-page: https://book.cakephp.org/4/en/index.html
Intro-page: https://book.cakephp.org/4/en/intro.html

It's not about omitting the link in footer, but referring to the right page. Right in the sense that it follows the reading flow.

Same on the intro-page, the 'back-button' is labelled with 'Phinx migrations' (BTW this one is moved too).  The generator links to the standalone packages pages

[2020-07-18 22:19] othercorey commented on #6707
I think they are saying if you start at the index (Welcome) page, then next link takes you to the topics page. From there it takes you to external packages like Chronos which is a strange direction.

The intro page takes you to the Phinx package.

[2020-07-21 01:49] markstory commented on #6707
Thank you for the extra info @drtrppr I understand what you're saying now. I'll try reordering the table of contents to get a better chapter ordering.

[2020-07-21 19:43] drtrppr commented on #6707
Sorry I wasn't clear. Think that's the result of writing the issue on the fly.  Started with the problem of links directing to moved pages, then started wondering about the chapter ordening. Better made two issues with some more afterthougt (the way we tell users to do so).

[2020-07-21 20:00] adoniahei opened #6715 "CMS Tutorial error with "bake all tags" (pg 54 in v4 book)"
This is a (multiple allowed):

* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 4.1.0
* Platform and Target: Linux Mint 20 VM, MariaDB, PHP 7.4

### What you did
I am going through the CMS Tutorial from the new book. On page 54, there is the command **bin/cake bake all tags** After that, it says: Once you have the scaffold code created, create a few sample tags by goi

[2020-07-21 22:20] othercorey commented on #6707
The intro page back link looks better, but the welcome page still takes you to chronos and debug kit instead of something useful.

[2020-07-22 02:23] markstory commented on #6707
Pushed another commit to try and fix the welcome -> next page.

[2020-07-22 02:42] othercorey commented on #6707
Looks good to me.

[2020-07-22 21:41] AlYourPal opened #6716 "CakePHP Conventions: Summarized Table probably incorrect"
**Issue Description**

From what I read in the preceding paragraphs of the [CakePHP Conventions Page](https://book.cakephp.org/4/en/intro/conventions.html), the table in the [Summarized section](https://book.cakephp.org/4/en/intro/conventions.html#summarized) seems to be incorrect:

- The database table should be named article_categories instead of articles_categories. Accordingly the complete 3rd

[2020-07-22 21:55] dereuromark commented on #6716
You are right about the entity (singular), but the convention for HABTM is still foos_bars (plural + plural) in alphabetical order.

[2020-07-23 01:36] #6707 closed

[2020-07-23 01:44] #6716 closed

[2020-07-23 01:44] markstory commented on #6716
Thanks! I've pushed a commit to correct the mistakes.

[2020-07-25 16:25] AlYourPal commented on #6716
Thx @markstory for the fix. I think I finally figured out what was puzzling me all the time: article_categories is not a join table where articles can have multiple categories and categories can belong to multiple articles (such as in the tutorial with articles_tags) but simply a table whose name consists of two words. Maybe another multiple word table such as presidential_candidates would be bett

[2020-07-26 00:05] #6155 closed

[2020-07-29 15:16] dreamingmind opened #6726 "Router::reverse() docs missing, inclusion advice desired"
As discussed [in this form thread](https://discourse.cakephp.org/t/pass-values-in-routes/8127/11), `Router::reverse()` is not included in the docs.

I'm interested in adding a section explaining it in docs/en/development/routing.rst

Before I begin I'm looking for input from any interested parties:

Since this document uses the term and concept of **reverse routing** extensively but does not menti

[2020-07-30 15:59] markstory commented on #6726
`Router::reverse()` hasn't historically been in the docs because it isn't something that user-land code frequently uses. Broadly 'reverse routing` refers to the process of converting URL arrays into URL strings, as it is the 'reverse' process of routing which converts URL strings into URL arrays. Unfortunately the format used by Router::url()` differ a bit as a way to help optimize how passed para

[2020-07-30 20:36] byuilazenbyt opened #6729 "The Authorization Plugin documention should include the bake commands policy to create policies."
The commands for creating an Authorization Policy via bake are in the CMS tutorial but no in the cook book documentation for the plugin itself.

---

We Should add that to the documentation under the cookbook as well.

I can't do this myself since I am not familiar enough with the documentation, but I suggest somebody else does that.

[2020-07-31 15:04] dreamingmind commented on #6726
Ok. I'll see what I can make of it.

[2020-08-01 05:29] #6729 closed

[2020-08-01 19:24] cristianemoyano opened #6733 "Error: Class 'App\Model\Entity\DefaultPasswordHasher' not found"
**Issue Description**

CakePHP  4.x.

``
Error: Class 'App\Model\Entity\DefaultPasswordHasher' not found.
``
[Doc link](https://book.cakephp.org/4/en/tutorials-and-examples/cms/authentication.html#adding-password-hashing)

https://github.com/cakephp/docs/edit/4.x/en/tutorials-and-examples/cms/authentication.rst

<img width="1432" alt="Screen Shot 2020-08-01 at 16 20 57" src="https://user-images.gi

[2020-08-01 20:12] othercorey commented on #6733
Can you create a PR to fix?

[2020-08-01 20:54] cristianemoyano commented on #6733
Sure! I'll !

[2020-08-01 22:07] othercorey commented on #6733
From PR:

Yeah, that could be an option. But I just imported the `DefaultPasswordHasher` statement  like this:

_User.php_
[code]

There are another line that should I include? Can you help me to understand what I'm doing wrong?

[2020-08-01 22:08] othercorey commented on #6733
From PR:

[2020-08-01 22:10] #6733 closed

[2020-08-03 19:45] dreamingmind commented on #6726
This now relates to Pull Request #6739

[2020-08-12 02:49] markstory commented on #6715
I wasn't able to reproduce this problem. Locally, `bake all tags` generated the following output for me:

[code]
And all the view files were created correctly.

[2020-08-15 22:27] #6702 closed

[2020-08-17 00:06] #6566 closed

[2020-08-18 23:29] othercorey commented on #6359
We need to make a change like this to the theme:
https://github.com/sphinx-doc/sphinx/pull/6114/files

Original issue with notes on docutils writer spacing:
https://github.com/sphinx-doc/sphinx/issues/6113

[2020-08-18 23:37] othercorey commented on #6726
Added in https://github.com/cakephp/docs/pull/6739

[2020-08-18 23:37] #6726 closed

[2020-08-20 00:52] markstory commented on #6359
I think this is fixed. The CDN caching is making my changes hard to verify. I'll check back tomorrow.

[2020-08-20 13:26] markstory commented on #6359
Going to close this. The conventions page no longer has double margins in the lists and tables.

[2020-08-20 13:26] #6359 closed

[2020-08-25 16:10] luizcmarin opened #6763 "Errors in methods Bake Policy"
BUG ?

CakePHP Version: 4.1.3, Bake 2.1.2

in [https://book.cakephp.org/4/en/tutorials-and-examples/cms/authorization.html#creating-our-first-policy](https://book.cakephp.org/4/en/tutorials-and-examples/cms/authorization.html#creating-our-first-policy)  the command

     ` bin/cake bake policy --type table Articles`

  generates canCreate and canUpdate methods cause execution errors, should they b

[2020-08-26 01:34] markstory commented on #6763
The step right after running bake is to update the policy with new methods. Perhaps the tutorial should skip using bake to create the policy instead?

Why did you need a table policy? All the can() calls in the tutorial are against entities.

[2020-08-26 12:08] #6763 closed

[2020-08-28 00:07] #6581 closed

[2020-08-30 00:13] #6580 closed

[2020-09-20 18:31] cautionbug opened #6791 "Awkward phrasing on conventions page"
**Issue Description**

On the Conventions page: https://github.com/cakephp/docs/blob/4.x/en/intro/conventions.rst#database-conventions

Phrasing here is awkward. Instead of completing the rules of the convention, the consequence is injected in the middle. Also, mixing the term (join/junction) for this kind of table *might* be confusing without clarification they are synonymous.

i suggest:

---

*

[2020-09-21 02:47] markstory commented on #6791
Your changes sounds better to me.

[2020-09-25 05:27] dependabot-preview[bot] opened #6800 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/cakephp) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/cakephp/update-logs/48686766).

[2020-09-25 05:35] #6800 closed

[2020-10-06 13:50] menshutin opened #6810 "No link to Formprotection component in book."
There is no link to this page in a TOC - https://book.cakephp.org/4/en/controllers/components/form-protection.html

[2020-10-06 13:51] menshutin opened #6811 "No link to Fromprotection component in a book."
There is no link to this page in a TOC - https://book.cakephp.org/4/en/controllers/components/form-protection.html

[2020-10-06 14:09] markstory commented on #6811
Duplicate of #6810

[2020-10-06 14:09] #6811 closed

[2020-10-06 14:17] markstory commented on #6810
It was linked from here https://book.cakephp.org/4/en/security.html I'll add another link in the components list.

[2020-10-06 14:18] #6810 closed

[2020-10-09 16:04] dereuromark commented on #6791
@cautionbug Do you want to make a PR here?

[2020-10-09 16:11] cautionbug commented on #6791
@dereuromark Yes, absolutely. i've been buried at work the last couple weeks. Hoping things will lighten up within the next week or so. i haven't forgotten - i'm excited to make my first submission. 😄

[2020-10-13 15:53] cautionbug commented on #6791
@dereuromark / @markstory i may need some guidance here. i'm running Windows, but i have the Docker instance running. i'm fairly new to Docker, though - mostly Vagrant before this.

However, when i attempt to [build the docs](https://github.com/cakephp/docs#build-the-image-locally) with my changes:
[code]
Same message for all formats.

Please help the noob?

[2020-10-13 18:57] markstory commented on #6791
You don't need to build the docs. If you update the content, I can take care of making sure the build is correct.

[2020-10-13 19:05] cautionbug commented on #6791
Well, that certainly makes things easier. i'll have a PR today. Sorry for the delay.

[2020-10-13 19:26] othercorey commented on #6791
The -v maps a local directory to a directory in the container. However, on windows, $(pwd), might not be working for you so the directory could be empty.

[2020-10-13 22:23] cautionbug commented on #6791
When i used PowerShell, it threw an error. Switched to Git-bash which recognizes stuff like that, and it didn't "fail".

Anyway, i appreciate the assist.

[2020-10-14 01:23] markstory commented on #6791
I've cherry picked 639514a73f6b64e3c42c1f4304b805b015f6d212 into our repo. Thanks for the help on this.

[2020-10-14 01:23] #6791 closed

[2020-10-14 02:30] cautionbug commented on #6791
Thanks @markstory - is there anything i should do different next time to make that a smoother process?

[2020-10-15 02:39] markstory commented on #6791
Nope, I'm dumb and didn't see the pull request before picking the commit into our repo.

[2020-10-31 23:59] levu42 opened #6854 "orm/table-objects: Wrong namespace for TableLocator"
In [Using the TableLocator](https://book.cakephp.org/4/en/orm/table-objects.html#using-the-tablelocator) it mentions TableLocator to be in Cake\ORM\TableLocator but it's in Cake\ORM\Locator\TableLocator.

[2020-11-01 00:00] dereuromark commented on #6854
Hi @levu42
You can also directly do a PR against https://github.com/cakephp/docs repo with the correction.
That would be awesome and we can process it faster then :)

[2020-11-02 00:28] #6854 closed, assigned to nobody

[2020-11-10 14:45] biermannm opened #6864 "Cake 4.x CMS Tutorial"
**Issue Description**
When I tried to set up authentication following the CakePHP 4.x CMS tutorial, my apache2 server crashed reproducibly under Ubuntu 20, regardless if I ran php 7.2 or 7.4. In the end, I set display_errors = On in the "/etc/php/7.4/apache2/php.ini" (the one that is active on the web server - see phpinfo() on your server), and it became clear that the statement " ->add(new Authen

[2020-11-10 14:50] dereuromark commented on #6864
This is expected to be known by a dev, based on the position or how the queue is built.

You can also do

    $middlewareQueue->add();
    $middlewareQueue->add();
    $middlewareQueue->add();

etc.

[2020-11-10 14:50] #6864 closed, assigned to nobody

[2020-11-10 17:07] dereuromark opened #6865 "Routing for tests"
Docs missing for on https://book.cakephp.org/4/en/development/testing.html
for

    $this->loadRoutes()

as per https://github.com/cakephp/cakephp/pull/14067

[2020-11-11 07:44] menshutin opened #6866 "Docs on setting content type for responce is outdated"
Documentation in https://book.cakephp.org/4/en/controllers/request-response.html#dealing-with-content-types is outdated.
To register new content type one should use setTypeMap function and not type() as mentioned in the docs.

[2020-11-14 02:10] #6866 closed, assigned to markstory

[2020-11-14 02:13] markstory commented on #6865
Fixed in #6867

[2020-11-14 02:13] #6865 closed, assigned to markstory

[2020-11-15 10:37] hhindustry opened #6873 "Quick Start Guide PR in french version"
**Issue Description**

The issue is in the Adding Articles part of the Quick Start Guide:

- In [English version](https://book.cakephp.org/4/en/quickstart.html) (it's working):
// src/Controller/ArticlesController.php
`    public function initialize(): void`
// src/Model/Table/ArticlesTable.php
`    public function initialize(array $config): void`
// src/Model/Table/ArticlesTable.php
`    public f

[2020-11-15 16:50] markstory commented on #6873
I don't think the french translations have an active maintainer right now. We'd love any help you are able to provide :smile:

[2020-11-15 17:25] hhindustry commented on #6873
I can help you with the french version if you want. But I don't know how to modify the French Quick Start Guide.

[2020-11-17 20:43] markstory commented on #6873
Each page in the book has an 'edit' link in the site that takes you to the matching file in GitHub. You can either edit in GitHub or create a fork and edit locally on your machine.

[2020-11-19 16:35] hhindustry commented on #6873
Great, I found the way to do it. Thank you ! 👍

[2020-11-21 14:08] biermannm commented on #6864
I see your point. From a user's point of view, I would however claim that a tutorial should be "simple, stupid". I have been developing under CakePHP since v. 1.3 (see my publication on [PubMed](https://pubmed.ncbi.nlm.nih.gov/24507951/)), and have since migrated to 3.x. The point of my trying out the tutorial was to see if 4.1 was worth the effort. The answer is "Yes". Now that I know the final a

[2020-11-22 11:34] ishanvyas22 opened #6881 "Add dark mode"
**Issue Description**

Add dark mode support. It would help developer to read the documentation site in the night or evening without hurting eyes!

---

**Do you want to address this issue?**

I'm not good at design, so I don't think I'm the right person to do this 🙂

[2020-11-23 17:40] markstory commented on #6881
This is a pretty big undertaking, I don't think we're likely to get to it any time soon.

[2020-12-01 00:08] #6708 closed

[2020-12-03 09:15] HumanG33k commented on #1606
I just want to say sometimes we not have any ssh/command line acces for security reason.
- cake app dev can only drop files on a "prepare" server
- admin which will not execute something or let people execute composer for ie.
Real case i face to.

[2020-12-09 11:34] ishan-biztech opened #6892 "Missing documentation for testing the HTTP API calls"
**Issue Description**

Currently we are missing documentation on how to test HTTP/Curl API calls in CakePHP. It's not clear like what is an best practice to test these http request.

1. Is there any helper methods or anything that helps developers test this in CakePHP way?
2. Is there any other way around that experienced developers are doing to test their HTTP request?

In above both cases we sho

[2020-12-09 15:05] markstory commented on #6892
Are you looking for how to test the outbound API calls your application is making, or are you wanting to test requests being made to your application?

[2020-12-10 04:00] ishan-biztech commented on #6892
Outbound API calls like making calls to Stripe or Xero API, etc. Currently it's not documented like how to do this(or what is the recommended way I should say).

For example if you look at Laravel docs, they have [dedicated section](https://laravel.com/docs/8.x/http-client#testing) on how to mock HTTP requests made by Laravel's `Illuminate\Support\Facades\Http` client.

[2020-12-11 15:18] markstory commented on #6892
Ok. We don't currently have a high level API for faking outbound requests. I've used [php-vcr](https://github.com/php-vcr/php-vcr) for stubbing network requests in the past. I wrote a [blog post](http://mark-story.com/posts/view/integration-testing-with-php-vcr) about how to get it setup with a CakePHP application.

We might want to add a simpler to use wrapper/API for this in CakePHP itself thoug

[2020-12-14 09:57] #6881 closed, assigned to nobody

[2020-12-17 22:57] ironbone opened #6901 "Loading paginator not clear"
**Issue Description**

Here
https://book.cakephp.org/4/en/controllers/components/pagination.html#basic-usage
is described that in order to use Pagination we need to
`$this->loadComponent('Paginator');`

Then  in all the examples is used
`$this->paginate($this->Articles);`

But the `paginate()` function of the Controller class loads the Paginator.

Loading Paginator manualy is only needed when usin

[2020-12-29 00:16] #6715 closed

[2021-01-15 20:17] dereuromark commented on #6901
Yes, but it also doesn't hurt to load it manually.
So I guess this is fine as it is for now.

[2021-02-04 11:31] ADmad commented on #6901
As mentioned above showing explicit loading of `PaginatorComponent` doesn't hurt and actually helps understand that it's the component that handles the pagination.

[2021-02-04 11:31] #6901 closed, assigned to nobody

[2021-02-05 15:39] theChaosCoder opened #6937 "composer install line for authentication should be updated"
I think the composer line should be changed from
`php composer.phar require "cakephp/authentication:^2.0"`
to
`php composer.phar require "cakephp/authentication`

The first line will install version 2 and not the newest one v2.5.
The problem: v2.0 always uses salt = true (fixed in newer version) while in the example code, it shows what you can use salt=false.
https://book.cakephp.org/authenticatio

[2021-02-07 09:32] yosus opened #6941 "Modelless Form : validationDefault needs to be public"
**Issue Description**
Based on this Cakephp 3 Modelless Form [doc](https://book.cakephp.org/3/en/core-libraries/form.html)
`validationDefault` needs to be changed from `protected` to `public` in order to work.

If the `validationDefault` is `protected`, you will get this error :

`Fatal error: Access level to App\Form\ContactForm::validationDefault() must be public (as in class Cake\Form\Form)`

S

[2021-02-07 17:14] othercorey commented on #6941
Can you open a PR?

[2021-02-08 01:08] yosus commented on #6941
ok. Made a PR [https://github.com/cakephp/docs/pull/6942](https://github.com/cakephp/docs/pull/6942)

[2021-02-08 01:08] #6941 closed, assigned to nobody

[2021-03-08 17:19] mehov opened #6958 "Making sure I set the correct App.paths.locales and App.paths.templates paths"
[github.com/cakephp/docs/blame/4.x/en/appendices/4-0-upgrade-guide.rst#L62](https://github.com/cakephp/docs/blame/4.x/en/appendices/4-0-upgrade-guide.rst#L62):

By looking at [cakephp/app](https://github.com/cakephp/app), I can confirm the latter needs to be `ROOT . DS . 'templates' . DS`, but what about `locales`? Should it be going elsewhere?

I'm willing to edit the document once I confirm the

[2021-03-08 17:25] garas commented on #6958
See [config/app.php](https://github.com/cakephp/app/blob/master/config/app.php#L64-L68) of app skeleton.

[2021-03-09 19:32] #6958 closed, assigned to nobody

[2021-03-23 01:16] #6873 closed, assigned to nobody

[2021-04-02 16:23] othercorey opened #6976 "Debugger::log() requires tmp directory"
The `Debugger::log()` doc states it requires write access to the `tmp` directory and contents.

https://book.cakephp.org/4/en/development/debugging.html#logging-with-stack-traces

I don't see the reason for this requirement.

[2021-04-12 04:24] ishan-biztech commented on #6892
Hi @markstory, are you able to assign any milestone or something to this feature? To prevent from being closed?

[2021-04-21 08:33] mehov opened #6995 "Request to clarify "load a collection of records""
I'm looking at [CookBook → Deleting Data → Bulk Deletes](https://book.cakephp.org/3.0/en/orm/deleting-data.html#bulk-deletes).

Please clarify whether "*load a collection of records*" means

- load the records one by one and delete them individually, or
- there is some other `delete()` method I could call if I manage to get the records into a collection of a specific kind?

[2021-04-21 08:47] mehov commented on #6995
Same text found here https://github.com/cakephp/cakephp/issues/9687#issuecomment-257661003 → [api.cakephp.org/3.3/class-Cake.Datasource.RepositoryInterface.html#_deleteAll](https://api.cakephp.org/3.3/class-Cake.Datasource.RepositoryInterface.html#_deleteAll)

[2021-04-22 14:09] #6995 closed, assigned to nobody

[2021-05-16 08:13] othercorey opened #7013 "Bad spacing between table of contents and caption"
The caption has no margin below the previous table.

![image](https://user-images.githubusercontent.com/24221186/118390401-83a1d180-b5f4-11eb-8ce3-bd4d577ba583.png)

[2021-05-16 08:18] othercorey commented on #7013
@Arhell any ideas?

[2021-05-17 21:50] Arhell commented on #7013
done

[2021-05-17 21:50] #7013 closed, assigned to Arhell

[2021-06-07 13:26] yosus opened #7035 "Cake 4 Time Docs"
**Issue Description**
Cake 4 [Time docs](https://book.cakephp.org/4/en/core-libraries/time.html#manipulation) shows immutable `FrozenTime` being changed/manipulated

[code]

![cake4](https://user-images.githubusercontent.com/5551430/121024685-09b9ce00-c7d7-11eb-8905-2e25942ea7e8.png)

---

**Do you want to address this issue?**
Before I create a PR for this, I notice that cake 3 [time docs](https:

[2021-06-07 21:33] othercorey commented on #7035
In cakephp 4, the datetime db types use FrozenTime by default.

https://github.com/cakephp/cakephp/blob/439fb6143fbe809e64ea58ae218d6ceee1b126a2/src/Database/Type/DateTimeType.php#L124

[2021-06-10 10:08] yosus commented on #7035
ok. Let me create a PR for this.

[2021-06-19 05:02] yosus commented on #7035
[Closed](https://github.com/cakephp/docs/pull/7038)

[2021-06-19 05:02] #7035 closed, assigned to nobody

[2021-06-21 10:52] andrii-pukhalevych opened #7040 "Russian docs remove"
Russian docs for 3.x/4.x are lot outdated and awfully translated, many pages are just empty.
Its almost impossible to read and use it, but google always shows it first in search results for Russia and Ukraine.

Should not we remove that and setup redirects to English?

[2021-06-21 13:40] ndm2 commented on #7040
The same is more or less true for the Portuguese, Chinese, Spanish and Turkish docs, is there really a point in having all these when there's only bits of them translated, many of it machine translated?

If it were up to me, I'd drop all translations, so that the community could focus all their effort on improving one single language. The translations always get out of sync, and without dedicated

[2021-06-21 13:49] othercorey commented on #7040
I would like to setup an "intro" page or small section that we encourage to be translated. Unfortunately, it's difficult to do with the current framework because the other pages don't link back to english.

[2021-06-25 02:59] #7040 closed, assigned to markstory

[2021-06-25 07:13] TerryKern opened #7050 "Overwriting configuration keys in environment specific default config files"
Lets assume we have the CakePHP standard configuration files "config/app_local.php" & "config/app.php" as outlined in: https://book.cakephp.org/3/en/development/configuration.html

In our app_local.php we have a config key as follows:

[code]
Now we want to overwrite one of these features in our non environment specific config file app.php.
In order to do this we can either access the key like so:

[2021-06-25 08:15] dereuromark commented on #7050
The "dot notation" cannot work on pure and simple array access.
If you want this to work, you would need a high level wrapper of setting config that normalizes it then into nested form, using Hash class for example.

So I am not sure why this is confusing, or how the docs could be clear on that one.
This is just a basic PHP issue or limitation.

//EDIT
Are you saying it actually did transform `$co

[2021-07-01 13:18] theafolayan commented on #6892
Is someone intending to work on this yet?
Looking to take this up soon.

[2021-07-02 00:20] markstory commented on #6892
@theafolayan I don't think there has been any movement on this. I have been preoccupied with fixtures and haven't gotten to this yet. If you have time an issue with the proposed API you are considering would be a great place to start.

[2021-07-06 13:13] lupainformatica opened #7063 "Outdated Modelless Form"
**Issue Description**
In Modelles Form doc samples - https://book.cakephp.org/4/en/core-libraries/form.html -  is displayed how to create simple forms without tables, but in 4.2 update, the method bootstrap in Application.php force to use Tables, generating a fatal error.

[2021-07-06 13:35] #7063 closed, assigned to nobody

[2021-07-12 20:15] LordSimal opened #7067 "Switching from 3.x to 4.x doesn't remember current open doc"
**Issue Description**

When exploring the Cookbook and switching between versions the webpage doesn't remember where the use has been before.

Example:
Go to https://book.cakephp.org/3/en/orm/table-objects.html
Click on the `Version 4.x Book` at the top right
You get redirected to https://book.cakephp.org/4/en/index.html but it should be https://book.cakephp.org/4/en/orm/table-objects.html

---

*

[2021-07-12 21:44] markstory commented on #7067
That link is generated in the book's theme which is in [a different repository](/cakephp/sphinxtheme). That package is installed during the build of the docs.

[2021-07-12 22:42] othercorey commented on #7067
This wouldn't work when the url changes.

[2021-07-15 13:57] markstory commented on #7067
It wouldn't but it would work more often than never.

[2021-07-15 13:59] LordSimal commented on #7067
Sure, I can understand that it wouldn't work everywhere but maybe you can check if it works and then insert it instead of the default index link.

Otherwise you would need to have some sort of matching between the different versions (and also languages if we want to continue that train) to know which URL needs to be set on which page.

[2021-07-15 23:16] markstory commented on #7067
Checking that it works is tricky as each version of the docs are built independently without context of what exists in the other branches. An inventory file could be built early in the build process. These options are potentially feasible with a custom sphinx extension.

[2021-08-14 18:06] LordSimal opened #7083 "Authentication/Authorization middleware position not 100% clear"
**Issue Description**

We just had a lengthy debug session in the Slack support channel where some community member had a problem with middleware positions.

In that session @ndm2 mentioned, that the BodyParserMiddleware needs to be present before the Authorization Middleware (and basically any other Middleware which proccesses request data)

Therefore should this be stated in the doc and/or have

[2021-08-14 18:08] LordSimal commented on #7083
Because according to https://book.cakephp.org/4/en/tutorials-and-examples/cms/authentication.html the authentication only needs to be placed after RoutingMiddleware and according to https://book.cakephp.org/4/en/tutorials-and-examples/cms/authorization.html the authorization needs to be added after authentication.

[2021-08-14 21:35] markstory commented on #7083
Where would you expect to find this more complete example? We could include a more complete example in the tutorial or the authentication docs or both.

[2021-08-15 20:02] LordSimal commented on #7083
Since I don't have that much experience with middlewares I am just going to describe the in my opinion "perfect world" example:

In this "perfect world" any middleware could define dependencies of other middlewares being either before or after the current middleware and if any violation is being detected either a notice, exception or some notification would inform the user of that issue.
This woul

[2021-08-16 21:00] markstory commented on #7083
Having dependencies is tricky as middleware instances aren't aware of the queue and don't have a way to look at it either. Middleware also lack 'names' so dependencies would need specific classname references which reduces flexibility in middleware.

I can get the documentation examples updated.

[2021-08-17 00:18] #6976 closed, assigned to nobody

[2021-08-18 20:29] Arhell opened #7091 "update ElasticSearch link"
https://book.cakephp.org/elasticsearch/3/en/index.html
in docs https://www.elastic.co/products/elasticsearch
Now https://www.elastic.co/elasticsearch/

[2021-08-19 14:02] #7091 closed, assigned to Arhell

[2021-08-21 18:18] #7083 closed, assigned to nobody

[2021-08-21 18:19] LordSimal commented on #7083
Thanks for the clarifications. This will definitely prevent many headaches 😄

[2021-08-24 07:37] othercorey opened #7096 "sphinx php parameter rendering hard to read"
https://book.cakephp.org/4/en/core-libraries/logging.html#namespace-Cake\Log

The formatting is inconsistent and the font size is very large.

![image](https://user-images.githubusercontent.com/24221186/130576310-c6077d2d-e97b-4da3-a34f-1227bb2e1f12.png)

[2021-08-24 07:37] othercorey commented on #7096
@markstory did something change in the sphinx plugin?

[2021-08-24 09:11] Arhell opened #7097 "update link"
**Issue Description**
https://book.cakephp.org/authentication/2/en/authenticators.html
link https://tools.ietf.org/html/rfc7517
update to
https://datatracker.ietf.org/doc/html/rfc7517

[2021-08-24 14:41] markstory commented on #7096
Not any time recently, but I agree the formatting isn't great.

[2021-08-25 21:40] #7097 closed, assigned to Arhell

[2021-08-30 22:10] Arhell opened #7102 "update tuned link"
**Issue Description**
https://book.cakephp.org/4/en/development/testing.html#fixture-factories

Once your factories are **tuned**
From master to main

[2021-09-01 02:17] markstory commented on #7102
That tuned link seems to be working for me, what is the problem?

[2021-09-01 03:27] othercorey commented on #7102
github is redirecting to the new branch name.

[2021-09-01 08:11] Arhell commented on #7102
You're right, but I think it's better when everything leads to the correct link.
Plus there will be no reminder that the branch has been changed in the  ui of the github

[2021-09-01 09:50] #7102 closed, assigned to Arhell

[2021-09-04 09:42] Arhell opened #7112 "update Selenium link"
now http://seleniumhq.org
https://www.selenium.dev/

[2021-09-04 22:37] #7112 closed, assigned to Arhell

[2021-09-07 22:35] Arhell opened #7121 "update SameSite link"
https://book.cakephp.org/4/en/development/sessions.html#session-configuration
now https://owasp.org/index.php/SameSite

[2021-09-09 14:22] #7121 closed, assigned to Arhell

[2021-09-11 09:28] Arhell opened #7123 "update phpredis link"
https://book.cakephp.org/4/en/core-libraries/caching.html
before https://github.com/nicolasff/phpredis
need https://github.com/phpredis/phpredis

[2021-09-12 00:40] #7123 closed, assigned to Arhell

[2021-09-18 21:45] Arhell opened #7134 "update cells in Ruby link"
https://book.cakephp.org/4/en/views/cells.html#view-cells
now https://github.com/apotonick/cells
need https://github.com/trailblazer/cells

[2021-09-18 22:25] othercorey commented on #7134
I don't know if we need a link here anymore. @markstory ?

[2021-09-19 20:08] markstory commented on #7134
The link could be helpful for folks who have used rails before.

[2021-09-19 22:22] #7134 closed, assigned to Arhell

[2021-09-22 21:59] Arhell opened #7143 "broken link"
https://book.cakephp.org/4/en/development/configuration.html#configuration-engines
**creating your own configuration engines**

[2021-09-22 22:05] dereuromark commented on #7143
There also 9 other links in /en/ that link to /3.x./ docs, which should probably also be relative (in 4.x context).

[2021-09-24 03:11] #7143 closed, assigned to nobody

[2021-09-25 01:55] Arhell opened #7150 "update links"
https://github.com/cakephp/docs/issues/7143#issuecomment-925363695

[2021-09-25 10:39] mehov opened #7151 "RESTful Routing needs to mention the ability to use a `prefix` for a Resource"
The documentaton at [routing.html#restful-routing](https://book.cakephp.org/4/en/development/routing.html#restful-routing) ([github source file](https://github.com/cakephp/docs/blob/c546fbfd47f4a0cfe9f48831829afe326197609d/en/development/routing.rst#restful-routing)) needs to mention the `prefix` option available for a resource introduced by cakephp/cakephp/pull/8493 in a response to cakephp/cakep

[2021-09-25 18:19] markstory commented on #7151
Docs were updated in 3d6515c92e176ef151500ad7cacc2f4b18660b34 (3.x) and 6c136b317f44d76af247f2dcc0dc572aca36ad52 (4.x)

[2021-09-25 18:19] #7151 closed, assigned to nobody

[2021-09-28 19:08] #7150 closed, assigned to Arhell

[2021-09-30 10:21] drtrppr opened #7159 "app_local.php isn't mentioned/explained to set debug=false"
https://book.cakephp.org/4/en/deployment.html#adjust-config-app-php

Doc tells to turn debug to false in config/app.php.

However, debug=false by default after fresh install.

Doc doesn't mention app_local.php in which debug=true by default, and which overrides the app.php.

Since I don't have the knowledge why work with app.php and app_local.php, would be nice to read (or given a link to) to why,

[2021-09-30 10:27] dereuromark commented on #7159
I agree that this page should clarify better the need for the local file and how to use it (e.g. only set debug mode or passwords in that one).
Right now a lot of newbies trip over this.

[2021-09-30 14:36] markstory commented on #7159
The usage of `app_local` is optional which is why it doesn't show up consistently in the documentation. We could switch the docs over to it though as it is also the default for new applications, and plays nicely with many deployment setups.

[2021-09-30 21:24] Arhell opened #7161 "update links to other lang"
https://github.com/cakephp/docs/issues/7143

[2021-10-02 07:22] othercorey commented on #7067
Sorry but I think this is out of scope for the docs project with the tool we're using. If you have a solution you want to discuss, please open a PR.

[2021-10-02 07:22] #7067 closed, assigned to nobody

[2021-10-03 20:44] #7161 closed, assigned to Arhell

[2021-10-04 06:58] saeideng opened #7166 "[4.3] Document for ignoring duplicate deprecation and allowing them"
Document for ignoring duplicate deprecation and allowing them
Refs:
https://github.com/cakephp/cakephp/pull/15935
https://github.com/cakephp/cakephp/pull/15808

[2021-10-04 09:54] Arhell opened #7167 "update wiki link"
https://book.cakephp.org/4/en/installation.html#url-rewriting
Now https://wiki.apache.org/httpd/DistrosDefaultLayout
Need https://cwiki.apache.org/confluence/display/httpd/DistrosDefaultLayout

[2021-10-04 13:33] #7159 closed, assigned to markstory

[2021-10-05 09:26] #7167 closed, assigned to Arhell

[2021-10-06 06:55] #7166 closed, assigned to markstory

[2021-10-07 05:18] mehov opened #7173 "TupleComparison::__construct() documentation: `$type` vs. `$types`"
Documentation:
--

[code]

Note: `?string $type`

[source](https://api.cakephp.org/4.2/class-Cake.Database.Expression.TupleComparison.html#__construct())

Reality:
--

[code]

Note: `$types = []`

[source](https://github.com/cakephp/database/blob/ef7f8ca5e782d54483267a0617118cac09768e57/Expression/TupleComparison.php#L46)

I initially thought that this source is work in progress for 4.3, but after

[2021-10-09 09:18] Arhell opened #7175 "broken links"
https://book.cakephp.org/4/en/installation.html#iis7-windows-hosts

**32-bit** / **64-bit**

[2021-10-10 00:57] #7175 closed, assigned to nobody

[2021-10-11 10:49] Arhell opened #7180 "update links"
https://github.com/cakephp/docs/issues/7175
other lang

[2021-10-11 21:49] #7180 closed, assigned to Arhell

[2021-10-12 22:04] Arhell opened #7184 "broken links"
https://book.cakephp.org/4/en/contributing/cakephp-coding-conventions.html#commenting-code
 phpDocumentor tags

[2021-10-12 23:01] othercorey commented on #7184
Can you remove the author and copyright tags? I don't think we want those in normal contributions.

Thanks for finding this.

[2021-10-13 22:25] #7184 closed, assigned to Arhell

[2021-10-15 08:17] Arhell opened #7189 "update links (other lang)"
https://github.com/cakephp/docs/issues/7184

[2021-10-15 21:51] #7189 closed, assigned to Arhell

[2021-10-16 13:40] rochamarcelo commented on #6892
What is the status here? Maybe we could add some basic examples in the doc of how to mock using mock builder. The changes would be in the page https://book.cakephp.org/4/en/development/testing.html

[2021-10-16 14:54] markstory commented on #6892
This can be closed now. The new features will be part of 4.3 and the docs are in the 4.next branch of this repo.

[2021-10-16 14:54] #6892 closed, assigned to nobody

[2021-10-16 22:46] Arhell opened #7193 "update rfc2606 link"
now https://tools.ietf.org/html/rfc2606.html
need https://datatracker.ietf.org/doc/html/rfc2606.html

[2021-10-17 21:35] #7193 closed, assigned to Arhell

[2021-10-17 21:38] Arhell opened #7194 "broken link"
https://book.cakephp.org/4/en/contributing/code.html

 **Cake Software Foundation**

[2021-10-18 22:01] Arhell opened #7195 "update CakePHP Community Guidelines link"
now http://community.cakephp.org/guidelines
to https://cakephp.org/get-involved

[2021-10-20 01:25] #7195 closed, assigned to Arhell

[2021-10-20 21:56] Arhell opened #7200 "update Informal Form link"
https://book.cakephp.org/4/en/contributing/documentation.html#translator-tips
now https://en.wikipedia.org/wiki/Register_(linguistics)
need https://en.wikipedia.org/wiki/Register#Linguistics

[2021-10-21 21:55] #7200 closed, assigned to Arhell

[2021-10-22 21:58] Arhell opened #7203 "update phpdomain link"
https://book.cakephp.org/4/en/contributing/documentation.html#describing-classes-and-their-contents
now https://pypi.python.org/pypi/sphinxcontrib-phpdomain
to https://pypi.org/project/sphinxcontrib-phpdomain/

[2021-10-24 08:38] #7203 closed, assigned to Arhell

[2021-10-24 21:56] Arhell opened #7205 "fix Aura.Intl link"
https://book.cakephp.org/4/en/appendices/4-2-migration-guide.html#i18n
fix link

[2021-10-27 14:09] #7205 closed, assigned to Arhell

[2021-10-27 21:53] Arhell opened #7212 "fix skeleton app config link"
https://book.cakephp.org/4/en/appendices/4-0-upgrade-guide.html#use-the-upgrade-tool

[2021-10-28 07:30] othercorey commented on #7194
Can use this for now: https://cakefoundation.org/old

[2021-10-28 07:52] crydotsnake commented on #7194
Would be helpful to know where you found the broken link.

[2021-10-28 22:50] #7194 closed, assigned to Arhell

[2021-10-28 23:38] pabloelcolombiano opened #7217 "Fixture factories in Plugins & Packages"
**Issue Description**

This is a discussion.

Since over two years, and particularly since the last Cakefest 2021, we are receiving ever more cheering for the [CakePHP Fixture Factories plugin](https://github.com/vierge-noire/cakephp-fixture-factories).

The idea of generating test fixtures with factories is not new, and it is regarded as a good practice for testing.

To my knowledge, only Laravel

[2021-10-28 23:47] othercorey commented on #7217
Are you able to build github pages for plugin docs? We could point to that.

https://pages.github.com/

[2021-10-28 23:53] pabloelcolombiano commented on #7217
@othercorey indeed, I was about to do a clean doc with GitHub pages. But then wondered if the fixture factories should be hosted on the Cookbook, for the reasons mentioned above. For the moment, they are referenced [here](https://book.cakephp.org/4/en/development/testing.html#fixture-factories), pointing to the repository.

[2021-10-29 00:30] othercorey commented on #7217
I think separate gh pages docs would be easier to maintain. We won't have to update the main cookbook with external plugin changes.

[2021-10-29 02:13] ADmad commented on #7217
Maintaining docs is not a trivial task and the CakePHP team can't take up the additional work of managing docs for community plugins.

You need to manage them yourself. For e.g. the Crud plugin has it's own [docs](https://crud.readthedocs.io/en/latest/).

[2021-10-29 20:40] othercorey opened #7221 "Middleware and CSRF Protection Middleware have same menu entry"
Both of these points to https://book.cakephp.org/4/en/controllers/middleware.html.

![image](https://user-images.githubusercontent.com/24221186/139499064-46909c3b-a790-4cdb-9c52-7005a925ba37.png)

[2021-10-29 20:44] othercorey opened #7222 "Move TOC out of content panel"
The table of contents sits inside the content panel instead of as a separate panel to the right. This causes the content to be squished especially if the TOC is very long.

This is most noticeable for code blocks and class/function entries.

![image](https://user-images.githubusercontent.com/24221186/139499375-e1a5ef50-ca35-488d-ab00-43ded5d5808d.png)

![image](https://user-images.githubuserconten

[2021-10-29 20:58] othercorey commented on #7212
Use the default 4.x branch like github does now:

https://github.com/cakephp/app/blob/4.x/config/app.php

[2021-10-30 02:30] othercorey commented on #7221
@markstory Should CSRF point to something else?

[2021-10-30 09:42] #7212 closed, assigned to Arhell

[2021-10-31 02:20] Arhell opened #7227 "update application-php link"
https://book.cakephp.org/4/en/appendices/4-0-upgrade-guide.html#application-php

[2021-10-31 02:27] markstory commented on #7222
Some alternative locations for it to live that I can think of are:

1. At the top of the content. This will likely also place it above the page title, but I am not confident on that.
2. In a separate column to the right. We could move this column to the top of the page for narrow viewports, but have a full column on wide viewports.

[2021-10-31 02:29] markstory commented on #7221
Based on the content we have I think it has to show up in the TOC twice. We could write another small page in the `Security` section for CSRF and move the content out of the middleware doc though.

[2021-10-31 23:48] othercorey commented on #7221
It doesn't open a specific subsection.

[2021-11-01 02:16] #7227 closed, assigned to Arhell

[2021-11-01 03:15] pabloelcolombiano commented on #7217
I get your concern @othercorey and @ADmad. I've reworked the documentation on the repository directly. It is much easier to have the docs close to the source code, so I'll keep it like this for the moment. But thanks for the link to the Crud plugin's doc, that will be the next step.

[2021-11-01 03:15] #7217 closed, assigned to nobody

[2021-11-01 14:15] rrd108 opened #7231 "Example rector code fails"
**Issue Description**

https://book.cakephp.org/4/en/appendices/4-3-migration-guide.html#deprecations

The example code fails.

`bin/cake upgrade rector --rules cakephp43`

[code]

It is not here either: https://github.com/cakephp/upgrade/tree/master/config/rector
---

**Do you want to address this issue?**
No

[2021-11-02 19:23] #7231 closed, assigned to markstory

[2021-11-09 00:20] #7050 closed, assigned to nobody

[2021-11-10 16:29] #7221 closed, assigned to nobody

[2021-11-11 12:20] mehov opened #7239 "Request & Response Objects: `request` → `getRequest()`?"
Please see [*Request & Response Objects* → *Request Parameters*](https://book.cakephp.org/3/en/controllers/request-response.html#request-parameters):

### What happened

The first code example says:
[code]

### What I expected to happen
Consistently encouraging the (relatively) new getX/setX method naming convention.

[code]

[2021-11-11 12:25] ADmad commented on #7239
There no need to use the getter method for accessing protected properties.

[2021-11-11 12:25] #7239 closed, assigned to nobody

[2021-12-01 23:30] Arhell opened #7252 "broken link v2"
**Issue Description**

https://book.cakephp.org/2/en/core-libraries/caching.html
**XcacheEngine**

cc @markstory

[2021-12-02 03:12] markstory commented on #7252
Yeah that project is no longer maintained, and they have no actual site anymore. We could link to https://en.wikipedia.org/wiki/List_of_PHP_accelerators#XCache instead?

[2021-12-02 23:49] #7252 closed, assigned to nobody

[2021-12-03 01:05] Arhell commented on #7252
Thank you! https://github.com/cakephp/docs/pull/7255

[2021-12-07 23:42] Arhell opened #7261 "broken links (v 2,3)"
https://secure.php.net/apc
https://secure.php.net/callback

[2022-01-18 10:24] drtrppr opened #7292 "Number format helper displays NULL as 0"
**Issue Description**

Would have helped me if there was a warning that the null results in a zero, didn't expect that, can't find that in the text [Number](https://book.cakephp.org/4/en/core-libraries/number.html#formatting-numbers), see [discourse-topic](https://discourse.cakephp.org/t/database-nullable-integer-field-has-value-null-cakephp-displaying-0/10082l).

---

**Do you want to address thi

[2022-01-18 11:22] ADmad commented on #7292
This isn't a documentation issue. A method meant to format numbers returning a number is nothing out of the ordinary and doesn't need a warning.

We can discuss this on the issue you have opened on the bake repo instead.

[2022-01-18 11:22] #7292 closed, assigned to nobody

[2022-01-21 11:29] mehov opened #7294 "Request for clarification: Model.initialize"
Deleted

[2022-01-21 11:30] #7294 closed, assigned to nobody

[2022-01-24 11:50] drtrppr commented on #7292
'Warning' wasn't maybe the correct word, it's indeed nothing out of the ordinary considering number_format(null) returns  "0" #8961 .

But a sentence like:

or something like that, would have helped me, and maybe some other non-programmers users of cakephp.

All the number-methods will output zero I guess? If there could be a note, it should be in the intro?

(Think it's not for the bake repo beca

[2022-02-01 14:23] mehov opened #7302 "Request to clarify the events documentation"
Hi everyone,

https://book.cakephp.org/3/en/core-libraries/events.html#registering-listeners:

[code]

Attach where? In the bootstrap? In some class where the event is likely to originate from? I think this needs to be clarified right away to make this less overwhelming to newbies.

Same for the https://book.cakephp.org/3/en/core-libraries/events.html#registering-anonymous-listeners right below, i

[2022-02-01 16:06] mehov commented on #7302
https://book.cakephp.org/3/en/core-libraries/events.html#registering-listeners:

[code]

Needs to clarify that `Model.Order.afterPlace` is just a custom event name coming from https://book.cakephp.org/3/en/core-libraries/events.html#dispatching-events below, and not the general CakePHP convention. The default https://book.cakephp.org/3/en/orm/table-objects.html#event-list won't offer this granular

[2022-02-04 17:05] HumanG33k opened #7313 "Missing echo"
There is missing echo :
https://book.cakephp.org/4/en/views.html#using-blocks-for-script-and-css-files

[code]
should be

[code]

[2022-02-04 17:32] garas commented on #7313
Documentation is correct.

With `['block' => true]`, these methods append the tag to `script` or `css` block buffer.

Then you print block contents somewhere else with  `echo $this->fetch('script')` or `echo $this->fetch('css')`.

https://book.cakephp.org/4/en/views.html#displaying-blocks

[2022-02-04 19:07] LordSimal commented on #7313
As garas already said there is a difference between directly outputting a script/link tag or appending them into the `script` or `css` block provided by CakePHP.
Maybe we should explain the whole `block` concept a bit more

[2022-02-04 20:29] vontani opened #7315 "Quick Start Guide Mysql Table syntax"
**Issue Description**

Someone should update the quick start guide so freaks like me can smoothly start learning using cake !

please check the mysql section and compare syntax to 8.0 , that did not work, needs some modifications.

thanks

---

**Do you want to address this issue?**

[2022-02-05 01:02] ndm2 commented on #7315
Can you provide some more details as to what problem exactly you're experiencing (any errors?), and the specific MySQL version you are using?

[2022-02-05 07:13] vontani commented on #7315
Sure,
just trying to execute your quick start guide sql code and got an syntax error

*******
failed : You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near
******

Machine:
MySQL version 8.0.28-0 on an ubuntu0.20.04.3 headless

Regards

[2022-02-05 09:31] saeideng commented on #7313
I just found this #7316 that had unneeded echo

I think document is clear enough, but feel free to open a PR
closing since document is correct

[2022-02-05 09:31] #7313 closed, assigned to nobody

[2022-02-05 10:29] ndm2 commented on #7315
I can't reproduce any problems using 8.0.28 from https://hub.docker.com/_/mysql.

Can you please post the complete error message, that is including the SQL snippet after "_use near_", and also include the exact SQL that you are trying execute?

[2022-02-05 11:27] othercorey commented on #7315
Please show the sql you're executing. This isn't enough information.

[2022-02-05 11:47] vontani commented on #7315
dear,

I'm on phpcacke starting with your "quick start guide" on my ubuntu headless server powered by virtualmin for better management.

i execute the sql table create code u provided by copy - past.

here the fully output:
*****
Failed to execute SQL : SQL CREATE TABLE users ( id INT AUTO_INCREMENT PRIMARY KEY, email VARCHAR(255) NOT NULL, password VARCHAR(255) NOT NULL, created DATETIME, modifie

[2022-02-05 12:49] vontani commented on #7315
Dear,
using terminal i can fine execute the sql syntax and all tables are created but local at a gui window wont work, so i conclude that cake is an Terminal only installer.

[2022-02-05 13:03] LordSimal commented on #7315
I also wasn't able to reproduce that error in PHPMyAdmin.

The only thing I can imagine is some weird copy/paste encoding issue where your GUI program changed the single quotes `'` to something different it doesn't understand but there is definitely nothing wrong with the SQL given in the Quick Start guide.

[2022-02-05 17:36] saeideng commented on #7315
I tested on mysql 8, no problem on queries
also mentioned site can not analyze  queries at same time , so only analyze it separately
we can close this issue as it works as expected

[2022-02-05 17:41] saeideng commented on #7315
if you need any help you can ask it in support channels

[2022-02-05 18:12] #7315 closed, assigned to nobody

[2022-02-17 07:25] #7302 closed, assigned to markstory

[2022-02-17 18:17] gerhard-lechner opened #7330 "Entity mutators documentation misleading"
I think there's an error in the docs when it comes to explaining Entity mutators. At https://book.cakephp.org/4/en/orm/entities.html#Cake\ORM\Entity::set it says:

I think the example mentioned here is actually missing? And then further down below there's this code:

[code]

Looking at the `_setTitle()` method just above this code, I think the comments here are misleading. The slug isn't set but t

[2022-02-17 20:32] markstory commented on #7330
Those changes seem reasonable to me.

[2022-02-17 21:31] othercorey commented on #7330
I would use `_set(FieldName)` followed by the explanation of camel casing the field name. It should be easier for some users to read the english.

[2022-02-18 10:51] gerhard-lechner commented on #7330
This sentence is actually a copy of what's written in the previous section about Accessors.

So it would make sense to change this in both places then. I might just create a PR updating the "Accessors & Mutators" section according to the things discussed here.

[2022-02-22 09:01] gerhard-lechner commented on #7330
Solved with [c98e8b6](https://github.com/cakephp/docs/commit/c98e8b6a8f1da14a7cc9ada1257605cc3eae5ac6)

[2022-02-22 09:01] #7330 closed, assigned to nobody

[2022-04-02 04:59] othercorey opened #7376 "4.next book is missing css/theme"
https://book.cakephp.org/4.next/en/index.html

This seems to be rendering without formatting.

[2022-04-02 04:59] othercorey commented on #7376
@markstory

[2022-04-02 09:26] ndm2 commented on #7376
A `4.x` > `4.next` > `5.x` merge is needed to inherit the theme/make related changes.

[2022-04-02 10:01] othercorey commented on #7376
Can you do that merge in case something needs to be resolved?

[2022-04-02 10:21] ndm2 commented on #7376
I've opened PRs for it just in case, didn't wanted to commit it directly as I've never did any forward merges here before.

[2022-04-02 10:50] othercorey commented on #7376
Looks correct after merge.

[2022-04-02 10:50] #7376 closed, assigned to nobody

[2022-04-21 00:03] #6177 closed

[2022-04-22 08:11] #7261 closed, assigned to nobody

[2022-05-18 09:27] vinodkmwt commented on #7096
Can I be of any help?

[2022-05-19 08:36] othercorey commented on #7096
I think this is a css issue with `dd` elements.

[2022-05-31 15:50] andersonsmb opened #7434 "Router Class"
Router Class missing.

Add "use Cake\Routing\Router;" on Book to solve inssue.

[2022-05-31 17:24] othercorey commented on #7434
Can you link the page or example that has this problem?

[2022-06-04 01:29] #7434 closed, assigned to nobody

[2022-10-10 22:29] cnizzardini opened #7529 "Options for Route Prefixes not well documented"
**Issue Description**

The acceptable types for `prefix` in https://book.cakephp.org/4/en/development/routing.html don't seem to be well-documented. I am expecting `?string` but a user reports that `false` is an acceptable type as well. I was not able to determine anything from the comments either: https://github.com/cakephp/cakephp/blob/4.x/src/Routing/RouteBuilder.php#L345

https://github.com/cn

[2022-10-11 19:50] markstory commented on #7529
Historically we've supported `string|false`. The `false` type is used to 'escape' prefix mode and go to a prefix-less route.

[2022-11-19 20:22] martonmiklos opened #7547 "AuthenticationMiddleware recommended position"
**Issue Description**

I have spend quite a long time troubleshooting a ground up new application (started from skeleton) with JWT token authentication request while I realized that it was caused by the following:

[code]

The token request contained the authentication data in the body, which did not get to the Authentication component.
After I changed the order of the middlewares to the following

[2022-11-19 21:14] LordSimal commented on #7547
Well at least in the authentication specific documentation we state clearly to put the middleware after routing and body parser (see red banner). See https://book.cakephp.org/authentication/2/en/index.html#getting-started

But its definitely not 100% clear from the doc in the [CMS tutorial](https://book.cakephp.org/4/en/tutorials-and-examples/cms/authentication.html#adding-login)

If you would lik

[2022-11-19 23:11] #7547 closed, assigned to nobody